@model (int a, int b, int c)
@{
    ViewBag.Title = "Add";
}

<h3>@ViewBag.Title</h3>

<ul>
    <li>слагаемое a: <strong>@Model.a</strong></li>
    <li>слагаемое b: <strong>@Model.b</strong></li>
    <li>сумма: <strong>@Model.c</strong></li>
</ul>