@using ComponentViewResults.Components;
@{
    ViewBag.Title = "Components Results Samples";
}

<p>
    @await Component.InvokeAsync(nameof(Component1))
</p>

<p>
    @await Component.InvokeAsync(nameof(Component2))
</p>

<p>
    @await Component.InvokeAsync(nameof(Component3))
</p>
<p>
    @await Component.InvokeAsync(nameof(Component3))
</p>

