@page "{id?}"

@model RoutingIntro.Pages.Page03Model
@{
    ViewBag.Title = "Страница 3";
}

<h3>@ViewBag.Title</h3>

@* RouteData - словарь с параметрами маршрутов *@
<p>Получен параметр на странице: @RouteData.Values["id"]</p>
<p>Получен параметр в коде: @Model.Id</p>