@{
    ViewBag.Title = "Index";
}
<h2>Фильтр исключений. Применение [ServiceFilter())], внедрения зависимости @ViewBag.Title</h2>
<ul>
    <li><a asp-action="Action1" asp-controller="Home">Вызов действия Action1</a></li>
    <li><a asp-action="Action2" asp-controller="Home">Вызов действия Action2</a></li>
</ul>

