
@{
    ViewBag.Title = "Главная страница";
}

<div class="brief">
    <h2>Теоретическая часть</h2>

    <ul>
        <li>Введение в паттерн Model View Controller (MVC) </li>
        <li>Создание ASP.NET Core MVC приложений в Visual Studio 2022</li>
        <li>Структура проекта MVC, соглашения по именованию</li>
        <li>Основные понятия MVC: контроллер, действие, представление, модель</li>
        <li>Добавление контроллера в проект</li>
        <li>Добавление представления для метода действия</li>
        <li>Использование страницы компоновки, файлы _Layout.cshtml, _ViewImports.cshtml, _ViewStart.cshtml</li>
        <li>Основы передачи данных в представление – модель, строго типизированное представление, свойство ViewBag, свойство ViewData</li>
        <li>Понятие о маршрутизации, секции маршрута controller, action, id</li>
        <li>Тег-хелперы ASP.NET Core MVC для генерации URL <b>asp-controller</b>, <b>asp-action</b></li>
    </ul>

    <h2>Практическая часть</h2>

    <p>
        Создать приложение ASP.NET Core MVC, каждая задача должна решаться в собственном контроллере. Стилизацию 
        приложения выполняйте при помощи фреймворка Bootstrap. 
    </p>

    <p>
        <b>Страница 1.</b>Создайте коллекцию данных о бытовой технике на оптовом складе (наименование, тип техники,
        артикул, цена, количество, изображение). В коллекции должно быть не менее 12 элементов. Коллекцию инициируйте
        набором записей, храните коллекцию в файле формата JSON в папке App_Data проекта.
    </p>

    <p>Примените страницу компоновки. Не забывайте создать модели для решения задач. По GET-запросу /Home/Index
        выводите этот текст. </p>
    
    <p><b>Задача 1.</b>По GET-запросу /Task1/Expression1 реализуйте вычисления, приведенные на рисунке 1, по GET-запросу
        /Task1/Expression2 реализуйте вычисления, приведенные на рисунке 2. Исходные данные задавайте те, что показаны
        на рисунках. </p>

    <div class="text-center my-5">
        <img src="images/task1_equation1.png" alt="Уравнение 1"/>
        <h6>Рисунок 1</h6>
    </div>
    
    <div class="text-center my-5">
        <img src="images/task1_equation2.png" alt="Уравнение 2"/>
        <h6>Рисунок 2</h6>
    </div>
    
    <p>
        <b>Задача 2.</b>. Необходимо хранить сведения о работниках (при помощи коллекции объектов класса Worker, файла 
        в формате JSON, не менее 15 объектов при инициализации). В классе Worker должны быть следующие поля:
    </p>
    
    <ul>
        <li>фамилия и инициалы работника;</li>
        <li>дата поступления на работу;</li>
        <li>имя файла с фотографией работника;</li>
        <li>величина оклада работника;</li>
        <li>метод вычисления стажа работника для текущей даты.</li>
    </ul>

    <p>Требуются следующие обработки для коллекции, использовать фото при выводе данных о работнике, каждая обработка
        ¬¬– отдельный метод действия, можно использовать одно представление для всех действий. Указать имя
        представление можно так:</p>
    
    <img class="my-3 text-center" src="images/task2_method.png" alt="Пример метода"/>
    
    <p>В примере вызывается представление <b>Products</b>, ему через свойство <i>Model</i> передается коллекция
        <i>products</i>.</p>
    
    <p>Требуемые по заданию обработки, методы действия для GET-запроса, указаны возможные маршруты:</p>
    
    <ul>
        <li>вывод коллекции в исходном порядке /Task2/Index;</li>
        <li>вывод коллекции с упорядочиванием фамилий по алфавиту /Task2/OrderSurname;</li>
        <li>вывод коллекции с упорядочиванием по убыванию окладов /Task2/SalaryDesc;</li>
        <li>отбор работников с окладами, равными минимальному, упорядочивание по алфавиту /Task2/MinSalary;</li>
        <li>отбор работников со стажем работы, меньше среднего, упорядочивание по окладу /Task2/LessAverageExp.</li>
    </ul>
    
    <h2>Дополнение</h2>
    <p>
        Запись занятия можно скачать по
        <a href="https://cloud.mail.ru/public/nUR6/nRDdKu6YT">
            <b>этой ссылке</b>
        </a>.
        Материалы занятия – в этом же архиве.
    </p>
</div>