@page "{handler}/{id?}"
@model HomeWork.Pages.PeriodicalForm
@{
    ViewBag.Title = Model.IsAdd ? "Добавление записи" : "Редактирование записи";
}

<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">
    <h5 class="text-center">@ViewBag.Title</h5>

    <hr/>

    <!-- #region Форма для доабавления подписки -->
    <form id="applianceFormId" enctype="multipart/form-data" method="post" asp-antiforgery="true" class="mx-auto w-50">

        <!-- Id -->
        <input type="hidden" asp-for="PeriodicalItem!.Id">

        <!-- Индекс -->
        <div class="form-floating my-3">
            <input type="text" asp-for="PeriodicalItem!.Index" placeholder="Индекс" class="form-control"
                   required>
            <label asp-for="PeriodicalItem!.Index">Индекс</label>
        </div>

        <!-- Наименование издания -->
        <div class="form-floating my-3">
            <input type="text" asp-for="PeriodicalItem!.Name" placeholder="Наименование издания" class="form-control"
                   required>
            <label asp-for="PeriodicalItem!.Name">Наименование издания</label>
        </div>

        <!-- Вид издания -->
        <div class="form-floating my-3">
            <select id="typeId" asp-for="PeriodicalItem!.TypeEdition" asp-items="Model.TypesEdition" class="form-select" required>
            </select>
            <label asp-for="PeriodicalItem!.TypeEdition">Вид издания</label>
        </div>

        <!-- Цена -->
        <div class="form-floating my-3">
            <input type="number" asp-for="PeriodicalItem!.Price" min="0" class="form-control"
                   placeholder="Цена (&#8381;)" required>
            <label asp-for="PeriodicalItem!.Price">Цена (&#8381;)</label>
        </div>

        <!-- Дата подписки -->
        <div class="form-floating my-3">
            <input type="date" asp-for="PeriodicalItem!.Date" class="form-control"
                   placeholder="Дата подписки" required>
            <label asp-for="PeriodicalItem!.Date">Дата подписки</label>
        </div>

        <!-- Длительность подписки -->
        <div class="form-floating my-3">
            <input type="number" asp-for="PeriodicalItem!.Duration" min="0" class="form-control"
                   placeholder="Длительность подписки (мес.)" required>
            <label asp-for="PeriodicalItem!.Duration">Длительность подписки (мес.)</label>
        </div>

        <!-- Кнопки управления -->
        <input class="btn btn-success me-2"
               asp-page-handler="Save"
               type="submit" value="@(Model.IsAdd ? "Добавить" : "Сохранить")"/>
        <a class="btn btn-danger" asp-page="/Periodicals">Выход</a>

    </form>
    <!-- #endregion -->

</section>
