<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- подключение файла-иконки -->
    <link rel="shortcut icon" href="~/images/emotion_smile.png" type="image/x-icon">

    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <a asp-controller="redirects">Перенаправления</a> |
        <a asp-controller="json">JSON ответ</a> |
        <a asp-controller="contentresult">Возврат указанного содержимого</a> |
        <a asp-controller="files">Возврат файлов</a> |
        <a asp-controller="statuscodes">Статус коды</a> |
        <a asp-controller="PartialView" asp-action="Index">Частичные представления</a>
    </header>
    <main>
        @* Отображение содержимого (которое не входит в секции) связанного представления *@
        @RenderBody()
    </main>
    <footer>
        Введение в ASP.NET Core
    </footer>
</body>
</html>
