@{
    ViewBag.Title = "Главная";
}

<h4 class="text-primary">Теоретическая часть</h4>
<ul class="px-5">
    <li>Понятие о частичном представлении</li>
    <li>Встраивание частичного представления в разметку</li> 
    <li>Передача данных в частичное представление</li>
    <li>Типы результатов методов действия контроллера</li>
    <li>Переадресация в методах действия</li>
    <li>Возвращение клиенту JSON, понятие об AJAX</li>
    <li>Возвращение клиенту содержимого заданного MIME-типа</li>  
    <li>Возвращение клиенту файлов, отправка файлов клиенту (скачивание файлов с сервера)</li>
</ul>

<h4 class="text-primary">Практическая часть</h4>

<p>
    Создать приложение ASP.NET Core MVC. Стилизацию приложения выполняйте 
    при помощи фреймворка Bootstrap.
</p>
<p>
    Примените страницу компоновки. Не забывайте создать модель для решения
    задачи. По GET-запросу <strong>/Home/Index</strong> выводите этот текст.
</p>
<p>
    <strong>Задача 1</strong>. Туристическая фирма организует пешие маршруты 
    по степным заказникам. Сведения о туристических маршрутах содержат: 
    идентификатор маршрута, начальный пункт маршрута, обязательный промежуточный 
    пункт маршрута, конечный пункт маршрута, протяженность маршрута в км (целое 
    число), сложность маршрута (значение из ряда <strong>А-, А, А+, В-, В, В+, 
    С-, С, С+</strong>; <strong>А-</strong> соответствует минимальной сложности, 
    <strong>С+</strong> соответствует максимальной сложности), фамилия и инициалы 
    инструктора маршрута (всего на фирме работает пять инструкторов, <i>, требуется 
	редактировать сведения об инструкторах, удалять или добавлять инструктора не 
	надо</i>).
</p>
<p>
    Сведения об инструкторах содержат: идентификатор инструктора, фамилия, имя, 
    отчество, дата рождения, категория (<strong>А, В, С</strong>; А – низшая 
    категория, С – высшая категория).
</p>
<p>
    Данные о маршрутах и инструкторах хранить в файле <strong>routes.json</strong>, 
    <strong>instructors.json</strong> в папке <strong>App_Data</strong>. Требуется 
    реализовать следующий функционал (критерии сортировки и выборки задавайте через 
    переменные маршрута):
</p>

<ul class="px-5">
    <li>Добавление маршрута (в форме на отдельной странице)</li>
    <li>
        Редактирование сведений о маршруте (в форме на отдельной странице, 
        это может быть та же страница, что страница добавления маршрута)
    </li>
    <li>Удаление сведений о маршруте</li>
    <li>Вывод сведений о маршруте в порядке хранения в файле</li>
    <li>Вывод сведений о маршруте по убыванию протяженности маршрута</li>
    <li>Вывод сведений о маршруте по возрастанию протяженности маршрута</li>
    <li>Вывод сведений о маршруте по возрастанию сложности</li>
    <li>Вывод маршрутов с заданным начальным пунктом</li>
    <li>Вывод маршрутов, проходящих через заданный промежуточный пункт</li>
    <li>Вывод маршрутов с протяженностью, попадающей в заданный интервал</li>
    <li><i>
	    Редактирование сведений об инструкторе
	</i></li>
    <li>Вывод сведений об инструкторах в порядке хранения в файле</li>
    <li>Вывод сведений об инструкторах в порядке убывания категорий</li>
    <li>Вывод сведений об инструкторах в алфавитном порядке</li>
    <li>Вывод сведений об инструкторах с заданной категорией</li>
	<li><i>
	    Выводите сведения об инструкторе, выбранном кнопкой (аналогично 
		редактированию) в модальном «окне» на той же странице, что и сведения
		об инструкторах (используйте AJAX, возвращение JSON из метода действия
		контроллера)
	</i></li>
</ul>

<h4 class="text-primary">Дополнительно</h4>
<p>
    Запись занятия можно скачать по <a href="https://cloud.mail.ru/public/Cz4R/buSLdFyMe">
        <strong>этой ссылке</strong>
    </a>, материалы занятия в этом же архиве.
</p>