<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">

    <!-- #region Теоретическая часть -->
    <details open>
        <summary class="h5 text-primary ">
            Теоретическая часть
        </summary>

        <ul>
            <li>Введение в паттерн Model View Controller (MVC) </li>
            <li>Создание ASP.NET Core MVC приложений в Visual Studio 2022</li>
            <li>Структура проекта MVC, соглашения по именованию</li>
            <li>Основные понятия MVC: контроллер, действие, представление, модель</li>
            <li>Добавление контроллера в проект</li>
            <li>Добавление представления для метода действия</li>
            <li>Использование страницы компоновки, файлы _Layout.cshtml, _ViewImports.cshtml, _ViewStart.cshtml</li>
            <li>
                Основы передачи данных в представление – модель, строго типизированное представление, свойство ViewBag,
                свойство ViewData
            </li>
            <li>Понятие о маршрутизации, секции маршрута controller, action, id</li>
            <li>Тег-хелперы ASP.NET Core MVC для генерации URL asp-controller, asp-action</li>
        </ul>

    </details>
    <!-- #endregion -->


    <!-- #region Практическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Практическая часть
        </summary>

        <p>
            Создать приложение ASP.NET Core MVC, каждая задача должна решаться в собственном контроллере. Стилизацию
            приложения выполняйте при помощи фреймворка Bootstrap.
        </p>

        <p>
            Примените страницу компоновки. Не забывайте создать модели для решения задач. По GET-запросу /Home/Index
            выводите этот текст.
        </p>

        <!-- #region Задание 1 -->
        <img src="~/images/image1.png" alt="image">
        <!-- #endregion -->

        <!-- #endregion -->

    </details>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <details open>
        <summary class="h5 text-primary">
            Дополнительно
        </summary>

        <p>
            Запись занятия можно скачать по
            <a href="https://cloud.mail.ru/public/nUR6/nRDdKu6YT" target="_blank">этой ссылке</a>.
            Материалы занятия в этом же архиве.
        </p>

    </details>
    <!-- #endregion -->
</section>
