@using HomeWork.Components

@{
    ViewBag.Title = "Запрос 8. Страны";
}

<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">
    <h4 class="text-center">@ViewBag.Title</h4>

    @await Component.InvokeAsync(typeof(Query08Component))
</section>
