<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="style.css" rel="stylesheet" />
    <link href="page1.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!-- подвал страницы-->
    <footer>
        <div id="footer">
                <h3>Данные о разработчике:</h3>               
                <p>
                     группа:<b> ПД011 г.Донецк 2022г.</b><br>студент: <b>Зейдлиц Виктория</b>
                </p>
        </div>
    </footer>
</body>
</html>
