@page
@model SectionsDemo.Pages.IndexModel
@{
    ViewBag.Title = "Главная";
}

<h3>Секции в мастер-странице</h3>

@* определение секции в странице *@
@section Footer {
    <hr />
    <p>Занятие 27.06.2022</p>
    <p>Донецк, 2022, ASP.NET</p>
}