@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SectionsDemo.Models
@using SectionsDemo.Pages

@model SectionsDemo.Pages.Page04Model
@{
    ViewBag.Title = "Страница 4";
}

<h3>@ViewBag.Title</h3>

<h3>Список пользователей</h3>
<form method="POST">
    <input type="number" name="age" />
    @* первая кнопка submit на форме *@
    <input type="submit" asp-page-handler="GreaterThan" value="Старше" />
    
    @* вторая кнопка submit на форме *@
    <input type="submit" asp-page-handler="LessThan" value="Младше" />
</form>

@* вывод коллекции *@
<table>
    <tr><th>Name</th><th>Age</th></tr>
    @foreach(Person person in Model.DisplayedPeople)
    {
        <tr>
            <td>@person.Name</td>
            <td>@person.Age</td>
        </tr>
    }
</table>	
