@page
@model SectionsDemo.Pages.Page01Model
@{
    ViewBag.Title = "Страница 1";
}

<h3>@ViewBag.Title</h3>

@* объявление секции в файле представления *@
@* !!! порядок следования секци не имеет значения !!! *@

@* секция навигации *@
@section Menu
{
    <a asp-page="/Page01" title="Пример ссылки, добавленной в секции">Ссылка 1</a> |
    <a asp-page="/Page01" title="Пример еще одной ссылки, добавленной в секции">Ссылка 2</a> |
    <a asp-page="/Page01" title="Еще один пример ссылки, добавленной в секции">Ссылка 3</a> |
}

@* подключение стилевого файла *@
@section Styles {
    <link href="~/page01.css" rel="stylesheet" />
}
