@{
    ViewBag.Title = "Index";
}
<h2>Фильтр исключений. @ViewBag.Title</h2>
<ul>
    <li><a asp-action="Action1" asp-controller="Home">Action1. Фильтр перехватит</a></li>
    <li><a asp-action="Action2" asp-controller="Home">Action2. Фильтр не перехватит</a></li>
</ul>

