@{
    ViewBag.Title = "ContenResult";
}

<h1>@ViewBag.Title</h1>

<ul>
    <li><a asp-action="sample1">Sample1. Ответ text/plain</a></li>
    <li><a asp-action="sample2">Sample2. Ответ application/json</a></li>
</ul>

