@page
@model Homework.Pages.CalculateModel
@{
	ViewBag.Header = "Уравнение";
}



<link rel="stylesheet" href="css/table.css">

<div class="indented">
	<details>
		<summary>Задание</summary>
		<p>
			Имя страницы <b>Calculate.cshtml</b>. В ответ на Get-запрос клиента <b>/Calculate</b> сформировать
			представление с формой для ввода исходных данных для расчета по варианту 13 (уверен, Вы не суеверны 😊) лабораторной
			работы 1 из учебника Павловской Т.А. по C#.
			<p>Метод обработки формы – POST, исходные данные и результаты расчета выводите на этой же странице.</p>
		</p>
	</details>
	
	<img src="images/equation.png" alt="Уравнение"/>
	
	<form method="post">
		<fieldset>
			<legend>Введите исходные данные:</legend>
			<div class="field"><label class="w3">Введите α: </label><input class="t2-input" type="number" name="alpha" step="0.00001"/></div>
			<div class="field"><label class="w3">Введите β:</label> <input class="t2-input" type="number" name="beta" step="0.00001"/></div>

			@if (Model.z1 != null && Model.z2 != null)
			{
				<div class="v-indent-20">
					Результат:
					<div>
						z1=@Model.z1
					</div>
					<div>
						z2=@Model.z2
					</div>
				</div>
			}

			<div><input type="submit" value="Отправить"></div>
		</fieldset>
	</form>

</div>


