@* 
    Запрос 4. 
    Выбирает информацию о продавцах с заданным значением процента комиссионных. 
    Значение задавать параметром
*@
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IQueryable<WebApiDatabase.Models.Seller>

@{
    ViewBag.Title = ViewBag.Interest == null
        ?"Выбирает информацию о продавцах с заданным значением процента комиссионных"
        : $"Выбирана информация о продавцах с процентом комиссионных, равным {ViewBag.Interest}%";
    
}

<h4 class="text-center">@ViewBag.Title</h4>
@* Вывод информации о выбранных продавцах *@
<div class="row my-4">
    <form class="d-inline-block ms-3 me-3" method="post">
        
        <label class="form-label me-1" for="interest">Процент: </label>
        <input class="form-select-sm me-3" id="interest" name="interest" type="number" />

        <button class="btn btn-sm btn-outline-info ms-1 align-baseline" type="submit">Выбрать</button>
    </form>
</div>

@await Html.PartialAsync("_SellersTable", Model)
