body {
    font-family: Tahoma, sans-serif;
    font-size: 12pt;
}

p, h3, ul {
    margin: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 5px;
    border: 1px solid black;
    margin: 20px;
    empty-cells: show;
}

td, th{
    border: 1px solid black;
    font-family: Tahoma, serif;
    font-size: 12pt;
    padding: 5px 10px;
}
