@page
@model UsingFfCore.Pages.IndexModel
@{
}

<h4>Теоретическая часть</h4>
<ul class="px-5">
    <li>
        Использование сервисов <b>IHostEnvironment</b>, <b>IWebHostEnvironment</b> 
        для получения имен служебных папок приложения (по материалам домашнего 
        задания)
    </li>
    <li>
        Подключение Entity Framework Core (Nuget пакет 
        <b>Microsoft.EntityFrameworkCore.SqlServer</b>)
        к проекту ASP.NET Core для использования в Razor Pages
    </li>
    <li>
        Использование <b>appsettings.json</b> для задания строки подключения 
        базы данных
    </li>
    <li>Отображение всех записей сущности</li>
    <li>
        Реализация операций добавления, удаления и редактирования записей таблицы
        базы данных
    </li>
</ul>

<h4>Практическая часть</h4>
<p>
    Разработайте приложение ASP.NET Core, состоящее из нескольких страниц Razor Pages.
    Стилизацию разметки выполняйте при помощи Bootstrap. Реализуйте вывод задания, вывод 
    всех записей таблицы, создание, удаление и редактирование записей таблицы. Реализуйте 
    также выполнение запросов по заданию.
</p>

<table class="mt-3 table table-bordered table-striped">
    <tbody>
    <tr>
        <td>
            Создайте базу данных <strong>«Учет подписки на периодические печатные 
            издания»</strong>
        </td>
    </tr>
    <tr>
        <td>
            <strong>База данных должна включать только таблицу ИЗДАНИЯ, содержащую 
            следующую информацию:</strong>
        </td>
    </tr>
    <tr>
        <td>
            Индекс издания по каталогу (строка из цифр)
        </td>
    </tr>
    <tr>
        <td>
            Вид издания (газета, журнал, альманах, каталог, …)
        </td>
    </tr>
    <tr>
        <td>
            Наименование издания (название газеты, журнала, …)
        </td>
    </tr>
    <tr>
        <td>
            Цена 1 экземпляра (в руб.)
        </td>
    </tr>
    <tr>
        <td>
            Дата начала подписки
        </td>
    </tr>
    <tr>
        <td>
            Длительность подписки (количество месяцев)
        </td>
    </tr>
    </tbody>
</table>

<table class="my-3 table table-bordered table-striped">
    <thead>
    <tr>
        <th>Номер запроса</th>
        <th>Тип запроса</th>
        <th>Какую задачу решает запрос</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Запрос на выборку</td>
        <td>
            Выбирает информацию об издании с заданным <strong>индексом</strong>. 
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Запрос на выборку</td>
        <td>
            Выбирает информацию обо всех изданиях, для которых 
            <strong>цена 1 экземпляра</strong> 
            есть значение из некоторого диапазона. 
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>Запрос на выборку</td>
        <td>
            Запрос на выборку	Выбирает информацию об изданиях, для которых 
            <strong>Длительность подписки</strong> есть значение из некоторого 
            диапазона. 
        </td>
    </tr>
    <tr>
        <td></td><td></td><td></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Итоговый запрос – агрегатные функции</td>
        <td>
            Выполняет группировку по полю <strong>Вид издания</strong>. 
            Для каждого вида 
            вычисляет среднюю цену 1 экземпляра, количество изданий 
            в группе
        </td>
    </tr>
    <tr>
        <td>5</td>
        <td>Итоговый запрос – агрегатные функции</td>
        <td>
            Выполняет группировку по полю <strong>Вид издания</strong>. 
            Для каждого вида вычисляет максимальную и минимальную цену 1 экземпляра, 
            количество изданий в группе
        </td>
    </tr>
    </tbody>
</table>

<h4>Дополнительно</h4>
<p>
    Запись занятия можно скачать <a href="https://cloud.mail.ru/public/uN2m/GsbH4t4MG">
        по этой ссылке
    </a>. Материалы занятия в этом же архиве.
</p>
