@page
@model HomeWork.Pages.IndexModel
@{
    ViewBag.Title = "Главная";
}

<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">
    <!-- #region Теоретическая часть -->
    <details open>
        <summary class="h5 text-primary ">
            Теоретическая часть
        </summary>

        <ul>
            <li>Инициализация таблиц базы данных в Entity Framework Core 6</li>
            <li>Связь «один ко многим» в Entity Framework Core 6</li>
        </ul>

    </details>
    <!-- #endregion -->


    <!-- #region Практическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Практическая часть
        </summary>

        <!-- #region Задание 1 -->
        <p>
            Разработайте приложение ASP.NET Core, состоящее из нескольких страниц Razor Pages. Стилизацию разметки
            выполняйте при помощи Bootstrap. Реализуйте вывод задания, вывод всех записей таблиц базы данных.
        </p>

        <p>Функционал</p>

        <ul>
            <li>Создание и инициализация БД (10 записей)</li>
            <li>Запросы 1, ..., 8 из задания</li>
            <li>Добавление, редактирование данных о клиенте</li>
            <li>Добавление, редактирование, удаление данных о поездке</li>
        </ul>

        <p>Требуется также выполнение запросов по заданию.</p>

        <!-- Таблица спецификации -->
        <table class="table table-bordered w-75 mx-auto bg-white">
            <thead>
            <tr>
                <td class="fst-italic">
                    База данных <b>«Туристическое агентство»</b>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p><b>Описание предметной области</b></p>
                    <p>Фирма предоставляет клиентам услуги по организации зарубежных поездок. При этом цели поездок могут быть различными (отдых, туризм, лечение и т.д.). При оформлении услуги устанавливается фиксированная стоимость 1 дня пребывания в той или иной стране.</p>
                    <p>Стоимость поездки может быть вычислена как <b>Стоимость 1 дня пребывания * Количество дней пребывания + Стоимость транспортных услуг + Стоимость оформления визы</b>. Кроме того, клиент платит налог на добавленную стоимость (НДС) в размере 3% от стоимости поездки.</p>
                </td>
            </tr>
            <tr class="fw-bold fst-italic">
                <td>База данных должна включать таблицы КЛИЕНТЫ, МАРШРУТЫ, ПОЕЗДКИ, содержащие следующую информацию:</td>
            </tr>
            <tr>
                <td>
                    Фамилия клиента
                </td>
            </tr>
            <tr>
                <td>
                    Имя клиента
                </td>
            </tr>
            <tr>
                <td>
                    Отчество клиента
                </td>
            </tr>
            <tr>
                <td>
                    Серия – номер паспорта клиента
                </td>
            </tr>
            <tr>
                <td>
                    Страна назначения
                </td>
            </tr>
            <tr>
                <td>
                    Цель поездки
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-center">ЗАДАНИЕ НА ВЫПОЛНЕНИЕ</p>
                    <ol>
                        <li>Определить состав полей базовых таблиц.</li>
                        <li>Определить свойства каждого поля в таблице.</li>
                        <li>В каждой таблице определить ключевое поле.</li>
                        <li>Определить тип связей между таблицами базы данных.</li>
                        <li>Установить связи между таблицами.</li>
                        <li>Заполнить таблицы данными. Каждая таблица должна содержать не менее 10 записей.</li>
                    </ol>
                </td>
            </tr>
            </tbody>
        </table>

        <p>Кроме исходных базовых таблиц база данных должна содержать следующие объекты:</p>

        <!-- Таблица запросов -->
        <table class="table table-bordered bg-white w-75 mx-auto">
            <!-- Заголовок таблицы -->
            <thead>
            <tr>
                <th>Номер запроса</th>
                <th>Тип запроса</th>
                <th>Какую задачу решает запрос</th>
            </tr>
            </thead>

            <!-- Тело таблицы -->
            <tbody>
            <tr>
                <th>1</th>
                <td>Запрос на выборку</td>
                <td>Выбирает информацию о маршрутах с заданной целью поездки</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Запрос на выборку</td>
                <td>Выбирает информацию о маршрутах с заданной целью поездки и стоимостью транспортных услуг менее
                    заданного значения</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Запрос на выборку</td>
                <td>Выбирает информацию о клиентах, совершивших поездки с заданным количеством дней пребывания в
                    стране</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Запрос на выборку</td>
                <td>Выбирает информацию о маршрутах в заданную страну</td>
            </tr>
            <tr>
                <th>5</th>
                <td>Запрос на выборку</td>
                <td>Выбирает информацию о странах, для которых стоимость оформления визы есть значение из некоторого
                    диапазона</td>
            </tr>
            <tr>
                <th>6</th>
                <td>Запрос с вычисляемыми полями</td>
                <td>Вычисляет для каждой поездки ее полную стоимость с НДС. Включает поля <b>Страна назначения, Цель
                    поездки, Дата начала поездки, Количество дней пребывания, Полная стоимость поездки</b>. Сортировка
                    по полю <b>Страна назначения</b></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>7</th>
                <td>Итоговый запрос – агрегатные функции</td>
                <td>Выполняет группировку по полю <b>Цель поездки</b>. Определяет минимальную, среднюю и максимальную
                    стоимость 1 дня пребывания</td>
            </tr>
            <tr>
                <th>8</th>
                <td>Итоговый запрос – агрегатные функции</td>
                <td>Выполняет группировку по полю <b>Страна назначения</b>. Для каждой страны вычисляет среднее значение по
                    полю <b>Стоимость транспортных услуг</b></td>
            </tr>
            </tbody>
        </table>
        <!-- #endregion -->

    </details>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <details open>
        <summary class="h5 text-primary">
            Дополнительно
        </summary>

        <p>
            Запись занятия можно скачать по
            <a href="https://cloud.mail.ru/public/o1ne/zvud5Cytg" target="_blank">
                этой ссылке</a>.
            Материалы занятия в этом же архиве.
        </p>

    </details>
    <!-- #endregion -->
</section>
