@using Homework.Models.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Homework.Models.ViewModels.IndexViewModel<Homework.Models.Unit>

@{
    ViewData["Title"] = "Единицы измерения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
    <tr>
        <th>
            Единицы (сокращенно)
        </th>
        <th>
            Единицы
        </th>
        <th><a asp-action="Create" class="btn btn-primary btn-sm">Добавить</a></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model!.Items)
    {
        <tr>
            <td>
                @item.Short
            </td>
            <td>
                @item.Long
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"class="btn btn-sm btn-outline-primary ms-2"
                   title="Редактировать данные">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@await Html.PartialAsync("_PaginationLinks", new PaginationLinksViewModel
{
    PagesCount = Model.PagesCount,
    CurrentPage = Model.CurrentPage,
    LinksCount = 5
})