@{
    Layout = "_Layout";
    ViewBag.Title = "Главная страница";
}


<div class="d-flex flex-column justify-content-center">
    <h3 class="text-primary">Практическая часть</h3>
    <p>
        Создать приложение ASP.NET Core MVC. Стилизацию приложения выполняйте при помощи фреймворка Bootstrap. Примените страницу компоновки.
        Не забывайте создавать модель/модели для решения задачи. По GET-запросу <b>/Home/Index</b> выводите этот текст.
    </p>
    <article>
        @await Html.PartialAsync("_PeopleDescription")
    </article>
    <article>
        @await Html.PartialAsync("_PlanetsDescription")
    </article>
    <p>
        Разработайте сервис логирования, сохраняющий в файле <b>application.log</b> в папке <b>App_Data</b> факты создания и редактирования
        сведений о клиентах: момент времени операции с точностью до секунды, собственно данные клиента (включая закодированный пароль).
    </p>
    <p>
        Разработайте глобальный фильтр исключений – сервис с внедрением зависимостей.
        Параметры исключений записывайте в файл журнала при помощи сервиса логирования.
    </p>
</div>