@{
    ViewBag.Title = "Скачивание файла";
}


<h1>@ViewBag.Title</h1>

<ul>
    <li><a asp-action="sample1">Sample1. Байт массив и имя файла.</a></li>
    <li><a asp-action="sample2">Sample2. Поток.</a></li>
    <li><a asp-action="sample3">Sample3. Физический файл.</a></li>
</ul>

