@{
    ViewBag.Title = "Главная";
}

<h4 class="text-primary">Теоретическая часть</h4>


<h4 class="text-primary">Практическая часть</h4>



<h4 class="text-primary">Дополнительно</h4>
<p>
    Запись занятия можно скачать по <a href="https://cloud.mail.ru/public/kCVA/44Musvtkt">
        <strong>этой ссылке</strong>
    </a>, материалы занятия в этом же архиве.
</p>