@page
@model HomeWork.Pages.CalculateModel
@{
    // индекс страницы
    ViewBag.indexTab = 3;

    // название страницы
    ViewData["Header"] = "Задача 3. Формула";
}
<article>
    <details>

        <summary>
            <h2>Задача 3. Формула</h2>
        </summary>

        <!-- #region Задача 3 -->
        <p>
            <b>Задача 3.</b> Имя страницы <b>Calculate.cshtml</b>. В ответ на Get-запрос клиента /Calculate сформировать
            представление с формой для ввода исходных данных для расчета по варианту 13 (уверен, Вы не суеверны 😊)
            лабораторной работы 1 из учебника Павловской Т.А. по C#:
        </p>

        <div class="content-center"><img src="~/images/variant13.png" alt="формулы"></div>

        <p>Метод обработки формы – POST, исходные данные и результаты расчета выводите на этой же странице.</p>

        <!-- #endregion -->

    </details>
</article>

<article>

    <!-- Форма для ввода данных -->
    <form method="post" class="form">

        <h2 class="text-align-center">Вычисление по формуле</h2>

        <hr>

        <h3 class="text-align-center">Текущие значения</h3>
        <ul>
            <li>
                <p>&alpha;: <b>@(Model.Formula != null ? $"{Model.Formula.Numbers.Value.a:f5}" : "———")</b></p>
            </li>
            <li>
                <p>&beta;: <b>@(Model.Formula != null ? $"{Model.Formula.Numbers.Value.b:f5}" : "———")</b></p>
            </li>
            <li>
                <p>z<sup>1</sup>: <b>@(Model.Formula != null ? $"{Model.Formula.Z1:f5}" : "———")</b></p>
            </li>
            <li>
                <p>z<sup>2</sup>: <b>@(Model.Formula != null ? $"{Model.Formula.Z2:f5}" : "———")</b></p>
            </li>
        </ul>

        <hr>

        <h3 class="text-align-center">Ввод данных</h3>

        <!-- Альфа -->
        <div class="field">
            <label for="alphaId" class="field-label">Введите &alpha;:</label>
            <input type="number" id="alphaId" name="alpha" min="0" class="text-field-input"
                placeholder="Альфа (&alpha;)" value="10" required>
        </div>

        <!-- Бета -->
        <div class="field">
            <label for="betaId" class="field-label">Введите &beta;:</label>
            <input type="number" id="betaId" name="beta" min="0" class="text-field-input" placeholder="Бета (&beta;)"
                value="12" required>
        </div>

        <!-- Кнопки управления -->
        <div class="controls center">
            <input class="width-normal" type="submit" value="Вычислить" />
        </div>
    </form>
</article>