@{
    ViewBag.title = "Главная страница";
    ViewBag.pageHeader = "ГЛАВНАЯ СТРАНИЦА";
    ViewBag.PageName = "Index";
}


<!--Текст задания-->
<section>
    <h3 class="text-primary">Теоретическая часть </h3>
    <!--Верхний список-->

    <ul class="text-size-bigger">
        <li>Атрибуты класса модели для работы с формами UIHint, Display</li>
        <li>Создание выпадающих списков </li>
        <li>Использование Html-хэлперов EditorFor и DisplayFor  для быстрого протипирования форм, просмотра состояния объекта</li>
      
    </ul>

    <h3 class="text-primary">Практическая часть</h3>
    <p>
        Создать приложение ASP.NET Core MVC. Стилизацию приложения выполняйте при помощи фреймворка Bootstrap. 
    </p>
    <p>
        Примените страницу компоновки. Не забывайте создать модель для решения задачи. 
        По GET-запросу <b>/Home/Index</b> выводите этот текст. 
    </p>
    <p>
        <b>Задача 1. </b>
        Туристическая фирма организует пешие маршруты по степным заказникам. 
        Сведения о туристических маршрутах содержат: идентификатор маршрута, 
        начальный пункт маршрута, обязательный промежуточный пункт маршрута, 
        конечный пункт маршрута, протяженность маршрута в км (целое число), 
        сложность маршрута (значение из ряда <b>А-, А, А+, В-, В, В+, С-, С, С+; А-</b> соответствует минимальной сложности,
        <b>С+</b> соответствует максимальной сложности), фамилия и инициалы инструктора маршрута 
        (всего на фирме работает пять инструкторов, не требуется редактировать сведения об инструкторах).
    </p>

    <p>
        Сведения об инструкторах содержат: идентификатор инструктора, фамилия, имя, 
        отчество, дата рождения, категория (<b>А, В, С;</b> А – низшая категория, С – высшая категория)..
    </p>
    <p>
        Данные о маршрутах и инструкторах хранить в файле routes.json, instructors.json в папке App_Data. 
        Требуется реализовать следующий функционал 
        (критерии сортировки и выборки задавайте через переменные маршрута):
    </p>

    <ul>
        <li>Добавление маршрута (в форме на отдельной странице)</li> 
        <li>Редактирование сведений о маршруте (в форме на отдельной странице, это может быть та же страница, что страница добавления маршрута)
        </li>
        <li>Удаление сведений о маршруте</li>
        <li>Вывод сведений о маршруте в порядке хранения в файле</li>
        <li>Вывод сведений о маршруте по убыванию протяженности маршрута</li>
        <li>Вывод сведений о маршруте по возрастанию протяженности маршрута</li>
        <li>Вывод сведений о маршруте по возрастанию сложности</li>
        <li>Вывод маршрутов с заданным начальным пунктом</li>
        <li>Вывод маршрутов, проходящих через заданный промежуточный пункт</li>
        <li>Вывод маршрутов с протяженностью, попадающей в заданный интервал</li>
        <li>Вывод сведений об инструкторах в порядке хранения в файле</li>
        <li>Вывод сведений об инструкторах в порядке убывания категорий</li>
        <li>Вывод сведений об инструкторах в порядке убывания категорий</li>
        <li>Вывод сведений об инструкторах в порядке убывания категорий</li>
    </ul>

    <h3 class="text-primary">Дополнительно</h3>
    <p>
        Запись занятия можно скачать <a class="link-to-record" target="_blank" href="https://cloud.mail.ru/public/EsJL/FXcrtNQWX">по этой ссылке</a>.
        Материалы занятия в этом же архиве.
    </p>

</section>