<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/style.css" rel="stylesheet" />

    <!-- иконка -->
    <link rel="shorcut icon" href="~/images/emotion_smile.png" type="image/x-icon" />

</head>
<body>

    <nav>
        @* тег-хелпера используются для построения маршрутов *@
        <a href="/Home/Index">Главная</a> |
        <a asp-area="First" asp-controller="Home" asp-action="Index">Область First</a> |
        <a asp-area="First" asp-controller="Home" asp-action="Test">Тест в области First</a> |
    </nav>

    <div>
        @RenderBody()
    </div>

    <h3>Area</h3>
</body>
</html>
