<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">

    <!-- #region Теоретическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Теоретическая часть
        </summary>

        <ul>
            <li>Привязка простых данных к методу действия контроллера</li>
            <li>Привязка сложных типов данных</li>
            <li>Привязка коллекция</li>
            <li>Задание источника для привязки данных к методу действия</li>
            <li>Понятие о компонентах представлений</li>
            <li>Создание компонентов и применение компонентов в разметке</li>
            <li>POCO-компонент (Plain Old CLR Object)</li>
            <li>Построение компонента как расширение класса ViewComponent</li>
            <li>Типы результата метода Invoke() компонентов представлений</li>
            <li>Размещение разметки компонента представления – в папке представлений контроллера или в папке _Shared</li>
            <li>Передача параметров в компонент (в метод Invoke()) из представления</li>
            <li>Асинхронные компоненты</li>
            <li>Гибридные компоненты – контроллер с методом Invoke() и атрибутом ViewComponent (повторим этот материал 25.08.2022)</li>
        </ul>

    </details>
    <!-- #endregion -->


    <!-- #region Практическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Практическая часть
        </summary>

        <p>
            <a href="https://swapi.dev/api/people/?format=json">https://swapi.dev/api/people/?format=json</a>
            вывод при помощи компонента детальная информация о персонаже по кнопке, вывод компонентом на одной странице
        </p>

        <p>
            в компоненте, для коллекции people
        </p>

        <ul>
            <li>количество всего</li>
            <li>количество людей</li>
        </ul>

        <p>
            <a href="https://swapi.dev/api/planets/?format=json">https://swapi.dev/api/planets/?format=json</a>
            вывод при помощи компонента
            детальная информация о персонаже по кнопке, вывод компонентом на одной странице
        </p>

        <p> в компоненте, для коллекции planets</p>

        <ul>
            <li>количество всего</li>
            <li>минимальный радиус</li>
            <li>средний радиус</li>
            <li>максимальный радиус</li>
        </ul>


    </details>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <details open>
        <summary class="h5 text-primary">
            Дополнительно
        </summary>

        <p>
            Запись занятия можно скачать по
            <a href="https://cloud.mail.ru/public/kCVA/44Musvtkt" target="_blank">
                <b>этой ссылке</b>
            </a>,
            материалы занятия в этом же архиве.
        </p>

    </details>
    <!-- #endregion -->
</section>
