@using Homework.Components
@model int

@{
    ViewBag.Title = "Задачи пользователя";
    Layout = "_Layout";
}
    
<div class="container my-5">
    <div class="d-flex">
    <a asp-controller="Users" asp-action="Index" class="color-1" title="Назад">
        <i class="fa-solid fa-2xl fa-arrow-left-long"></i>
    </a>

        @await Component.InvokeAsync(nameof(UserTasks), new { Id = Model })
    </div>
</div>