@{
    ViewBag.Title = "Главная страница";
}
<container>
    <div class="brief">
        <h2>Теоретическая часть</h2>

        <ul>
            <li>Атрибуты маршрутизации</li>
            <li>Атрибуты маршрутизации для метода действия</li>
            <li>Ограничения в атрибутах маршрутизации</li>
            <li>Задание множественных маршрутов атрибутами маршрутизации</li>
            <li>Атрибуты маршрутизации для контроллера</li>
            <li>Понятие об области как об изолированном мини-приложении</li>
            <li>Структура области</li>
            <li>Маршрутизация для области</li>
        </ul>

        <h2>Практическая часть</h2>

        <p>
            Создайте приложение ASP.NET Core MVC с использованием областей. Вне области выводите текст задания
            и разместите решение задачи 1. В области Task2 разместите решение задачи 2.
        </p>

        <p>
            <b>Задача 1.</b> Реализуйте вычисления, приведенные на рисунках 1 и 2. Исходные данные задавайте те, что
            показаны на рисунках, формы ввода создавать не требуется. Вычисления по рисункам 1 и 2 разместите в
            отдельных методах действия, используйте атрибуты маршрутизации.
        </p>

        <div class="text-center my-3">
            <img class="" src="images/task1_eq1.png" alt="Задание 1, уравнение 1"/>
            <div>Рисунок 1</div>

            <img class="mt-3" src="images/task1_eq2.png" alt="Задание 1, уравнение 2"/>
            <div>Рисунок 2</div>
        </div>

        <p><b>Задача 2.</b> Реализуйте вычисления, приведенные на рисунке 3, исходные данные вводите в форму.</p>
        <div class="text-center my-3">
            <img src="images/task2_eq1.png" class="text-center my-2" alt="Задание 2, уравнение 1" title="Рисунок 3"/>
            <div>Рисунок 3</div>
        </div>


        <h2>Дополнительно</h2>
        <p>
            Запись занятия можно скачать по
            <a href="https://cloud.mail.ru/public/uZgp/kfawxoi2p">
                <b>этой ссылке</b>
            </a>.
            Материалы занятия – в этом же архиве.
        </p>
    </div>
</container>