<ul>
    <li>
        <a asp-action="PartialWithoutParams">Частичное представление без параметров</a>
    </li>
    <li>
        <a asp-action="PartialWithParams">Частичное представление с параметром (строго типизированное)</a>
    </li>
    <li>
        <a asp-action="NamedPartialWithoutParams">Частичное представление без параметров, вызов по имени</a>
    </li>
    <li>
        <a asp-action="NamedPartialWithParams">Частичное представление с параметром, вызов по имени</a>
    </li>
</ul>