@* это частичное представление без параметров *@

@* 
    частичное представление по умолчанию не получает 
    значение мастер-страницы 
*@
@{
    Layout = "_Layout";
}

<h3>Привет, это частичное предствление</h3>