@model IEnumerable<string> 

@* 
    частичное представление по умолчанию не получает 
    значение мастер-страницы 
*@
@{
    Layout = "_Layout";
}

<h3>Строго типизированное частичное представление</h3>
<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>