
@{
    ViewBag.Title = "Constraints. Index View";
}

<div>
    <h4>Параметр id маршрута /home/index</h4>
    <p>id = <b>@(Model == null ? "не задан" : $"{Model}")</b></p>
</div>

<div>
    <p><b>documents/invoices/ad12345/view</b> Просмотр документа</p>
    <p><b>documents/invoices/ad12345/edit</b> Редактирование документа</p>
</div>
