@using HomeWork.Components

@{
    ViewBag.Title = "Упорядочивание по возрастанию массы";
    ViewBag.PageName = "OrderPeople";
}

<section class="mx-5 my-4 shadow-sm bg-dark rounded-3 h-75 p-3">
    <h4>@ViewBag.Title</h4>

    @await Component.InvokeAsync(typeof(PeopleOrderByMassComponent))
</section>
