@model ComponentViewModel.Model.ProductsSummaryViewModel

<table class="table table-bordered mx-5 w-25">
    <tr>
        <td>Количество, всего</td>
        <td>@Model.ProductCount</td>
    </tr>
    <tr>
        <td>Сумма, итого</td>
        <td>$@Model.Sum</td>
    </tr>
</table>