@using HomeWork.Components

@{
    ViewBag.Title = "Планеты";
}

<section class="mx-5 my-4 shadow-sm bg-dark rounded-3 h-75 p-3">
    @await Component.InvokeAsync(typeof(PlanetListComponent))
</section>
