<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">
    <h4 class="text-danger">
        <i class="bi bi-x-circle-fill"></i>
        Произошла ошибка...

        <a class="btn btn-primary w-16rem ms-5" asp-controller="Home" asp-action="Index">На главную</a>
    </h4>

    @* <p class="text-black-50"> *@
    @*     Message: @ViewData["Message"] *@
    @*     <br> *@
    @*     Action: @ViewData["Action"] *@
    @* </p> *@
</section>
