@* определение частичного представление *@
@* никаких признаков чвчтичного предстсавления нет *@
<ul>
    <li>Телефон: +7 489 123 45 67</li>
    <li>email: user@example.com </li>
    <li>Адрес: Снежное, ул. Благоева, 42, 50</li>
</ul>