<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- подключение файла-иконки -->
    <link rel="shortcut icon" href="~/images/emotion_smile.png" type="image/x-icon">

    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <a asp-controller="Home" asp-action="index">Главная</a>
        <a asp-controller="Home" asp-action="catalog">Каталог</a>
        <a asp-controller="Home" asp-action="contacts">Контакты</a>
    </header>

    <main>
        @* Отображение содержимого (которое не входит в секции) связанного представления *@
        @RenderBody()
    </main>

    <footer>
        Введение в в ASP.NET Core MVC
    </footer>
</body>
</html>
