@model HomeWork.Models.ViewModels.FilterByRoutesViewModel

@{
    ViewBag.Title = $"Фильтр. Цель поездки: \"{ViewBag.ObjectiveName}\", Страна: \"{ViewBag.CountryName}\", Макс. стоимость транс. услуг: {ViewBag.MaxPrice}";
}

<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">
    <h4 class="text-center">@ViewBag.Title</h4>

    <form method="get" asp-controller="Queries" asp-action="Filter" class="d-flex align-items-center">
        <div class="form-floating w-10rem">
            <select asp-items="ViewBag.ObjectiveList" asp-for="ObjectiveId" class="form-control" required></select>
            <label asp-for="ObjectiveId"></label>
        </div>

        <div class="form-floating mx-3 w-15rem">
            <select asp-items="ViewBag.CountryList" asp-for="CountryId" class="form-control" required></select>
            <label asp-for="CountryId"></label>
        </div>

        <div class="form-floating mx-3 w-15rem">
            <input asp-for="MaxPrice" class="form-control" placeholder="Макс. стоимость транс. услуг">
            <label asp-for="MaxPrice">Макс. стоимость транс. услуг</label>
        </div>

        <input class="btn btn-primary mx-3" type="submit" value="Выбрать">
        <a class="btn btn-warning" asp-controller="Queries" asp-action="Filter">Сбросить</a>
    </form>

    @await Html.PartialAsync("_RoutesTable", Model.Routes)
</section>
