@model IQueryable<Homework.Models.Route>

@{
    ViewBag.Header = "Запрос на выборку";
    Layout = "_Layout";
}

@* фильтр по цели поездки и стоимости трансп. услуг *@
<div class="list-group-horizontal my-4">
    <form class="d-inline-block ms-3 me-3" method="post">
        
        <label class="form-label me-1 lead" for="selPurpose">Цель поездки: </label>
        <select class="form-select-sm me-3 " name="PurposeId" asp-items="ViewBag.purposesList" id="selPurpose"></select>

        <label class="form-label me-1 lead" for="inpTransf"> Стоимость транспортных услуг до: </label>
        <input class="form-control-sm w-80-px" type="number" name="TransferCost" id="inpTransf"/>

        <button class="btn btn-sm btn-outline-secondary ms-1 align-baseline" type="submit">Показать</button>
    </form>
</div>


@{ await Html.RenderPartialAsync("TravelsTable", Model); }