@model IQueryable<Homework.Models.Client>

@{
    ViewBag.Header = "Запрос на выборку";
    Layout = "_Layout";
}

@* фильтр по клиентам с поездками в выбранную страну на указанное количество дней *@
<div class="list-group-horizontal my-4">
    <form class="d-inline-block ms-3 me-3" method="post">

        <label class="form-label me-1 lead" for="selCountry">Страна: </label>
        <select class="form-select-sm me-3 " name="CountryId"
                asp-items="ViewBag.countriesList" id="selCountry">
        </select>

        <label class="form-label me-1 lead" for="inpDays"> Количество дней: </label>
        <input class="form-control-sm w-80-px" type="number" name="Days" id=inpDays/>

        <button class="btn btn-sm btn-outline-secondary ms-1 align-baseline" type="submit">Показать</button>
    </form>
</div>


@{ await Html.RenderPartialAsync("ClientsTable", Model); }