@{
    ViewBag.Title = "Главная";
}

@{
    ViewBag.Title = "Главная";
}

<h4 class="text-primary">Теоретическая часть</h4>
<ul class="px-5">
    <li>Подключение Enity Framework Core 6 к ASP.NET Core MVC приложению</li>
    <li>Реализация CRUD-операций с таблицами базы данных</li>
    <li>Генерация контроллеров и представлений для выполнения CRUD-операций средствами Visual Studio – scaffolding </li>
    <li>Типичный прием работы с таблицами баз данных в веб-приложении – сортировка таблиц по столбцам</li>

</ul>

<h4 class="text-primary">Практическая часть</h4>

<p>
    Разработайте приложение ASP.NET Core MVC для работы с базой данных при 
    помощи Entity Framework Core 6. Стилизацию разметки выполняйте при помощи 
    Bootstrap. Реализуйте вывод задания, вывод всех записей таблиц базы данных. 
    Все таблицы должны быть проинициированы не менее чем 10 записями.
</p>
<p>
    Требуется также выполнение запросов по заданию.
</p>



<p>
    Также требуется реализовать:
</p>

<ul сдфыы="px-5">
    <li>добавление, редактирование данных о клиенте</li>
    <li>добавление, редактирование данных о маршруте</li>
    <li>добавление, редактирование, удаление данных о поездке</li>
    <li>
        сортировку данных о поездке: по дате начала, по длительности, по стране пребывания – и по убыванию
        и по возрастанию (по примеру, рассмотренному в классной работе, но выводить коллекцию в исходном
        и отсортированном виде надо на одну страницу, в одну и ту же таблицу).
    </li>
</ul>

<h4 class="text-primary">Дополнительно</h4>
<p>
    Запись занятия можно скачать по <a href="https://cloud.mail.ru/public/aFCS/JjUzASteG">
        <strong>этой ссылке</strong>
    </a>, материалы занятия в этом же архиве.
</p>