@page
@model Homework.Pages.IndexModel
@{
    ViewBag.Header = "Главная страница";
}


<div class="brief">
    <h2>Теоретическая часть</h2>

    <ul>
        <li>Использование сервисов <b>IHostEnvironment</b>, <b>IWebHostEnvironment</b> для получения имен служебных папок приложения (по материалам домашнего задания)</li>
        <li>Подключение Entity Framework Core (Nuget пакет <b>Microsoft.EntityFrameworkCore.SqlServer)</b> к проекту ASP.NET Core для использования в Razor Pages</li>
        <li>Использование <b>appsettings.json</b> для задания строки подключения базы данных</li>
        <li>Отображение всех записей сущности</li>
        <li>Реализация операций добавления, удаления и редактирования записей таблицы базы данных</li>
    </ul>

    <h2>Практическая часть</h2>

    <p>
        Разработайте приложение ASP.NET Core, состоящее из нескольких страниц Razor Pages. Стилизацию разметки выполняйте при помощи Bootstrap.
        Реализуйте вывод задания, вывод всех записей таблицы, создание, удаление и редактирование записей таблицы. Реализуйте также выполнение
        запросов по заданию.
    </p>
    <div class="col-8">
        <table class="table-bordered ps-2 pe-2 w-100">
            <tbody>
            <tr>
                <td class="ps-1 pe-2">
                    <i>Создайте базу данных <b>«Учет подписки на периодические печатные издания»</b></i>
                </td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">
                    <i>
                        <b>База данных должна включать только таблицу ИЗДАНИЯ, содержащую следующую информацию:</b>
                    </i>
                </td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Индекс издания по каталогу (строка из цифр)</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Вид издания (газета, журнал, альманах, каталог, …)</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Наименование издания (название газеты, журнала, …)</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Цена 1 экземпляра (в руб.)</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Дата начала подписки</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Длительность подписки (количество месяцев)</td>
            </tr>
            </tbody>
        </table>

        <table class="table-bordered mt-4 w-100">
            <thead class="fw-bold text-center">
            <tr>
                <td>Номер запроса</td>
                <td>Тип запроса</td>
                <td>Какую задачу решает запрос</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="ps-2 pe-2 text-center">1</td>
                <td class="ps-2 pe-2">Запрос на выборку</td>
                <td class="ps-2 pe-2">Выбирает информацию об издании с заданным <b>индексом</b>. </td>
            </tr>
            <tr>
                <td class="ps-2 pe-2 text-center">2</td>
                <td class="ps-2 pe-2">Запрос на выборку</td>
                <td class="ps-2 pe-2">
                    Выбирает информацию обо всех изданиях, для которых <b >цена 1 экземпляра</b> есть значение из некоторого
                    диапазона.
                </td>
            </tr>
            <tr>
                <td class="ps-2 pe-2 text-center">3</td>
                <td class="ps-2 pe-2">Запрос на выборку</td>
                <td class="ps-2 pe-2">
                    Выбирает информацию об изданиях, для которых <b >Длительность подписки</b> есть значение из некоторого
                    диапазона.
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td><td></td><td></td>
            </tr>
            <tr>
                <td class="ps-2 pe-2 text-center">4</td>
                <td class="ps-2 pe-2">Итоговый запрос – агрегатные функции</td>
                <td class="ps-2 pe-2">
                    Выполняет группировку по полю <b>Вид издания</b>. Для каждого вида вычисляет среднюю цену 1 экземпляра,
                    количество изданий в группе
                </td>
            </tr>
            <tr>
                <td class="ps-2 pe-2 text-center">5</td>
                <td class="ps-2 pe-2">Итоговый запрос – агрегатные функции</td>
                <td class="ps-2 pe-2">
                    Выполняет группировку по полю <b >Вид издания</b>. Для каждого вида вычисляет максимальную и минимальную
                    цену 1 экземпляра, количество изданий в группе
                </td>
            </tr>
            </tbody>

        </table>
    </div>


    <h2 class="mt-4">Дополнение</h2>
    <p>
        Запись занятия можно скачать по
        <a href="https://cloud.mail.ru/public/uN2m/GsbH4t4MG">
            <b>этой ссылке</b>
        </a>.
        Материалы занятия – в этом же архиве.
    </p>
</div>