@* Пример возврата разметки по AJAX-запросу клиента *@
@model WebApiWithControllersClients.Models.Person

<ul>
    <li>Идентификатор: <b>@Model.Id</b></li>
    <li>Полное имя: <b>@Model.Fullname</b></li>
    <li>Возраст, лет: <b>@Model.Age</b></li>
</ul>
