@page
@model BindingRouteHandler.Pages.IndexModel
@{
}
@{
    ViewBag.Title = "Главная";
    ViewBag.Active = "Index";
    ViewBag.Header = "Задание на разработку";
}

<h2>Теоретическая часть</h2>
<ul>
    <li>Привязка свойств страниц и моделей Razor к параметрам запроса</li>
    <li>Понятие о передаче параметров методом GET</li>
    <li>Понятие о маршрутизации</li>
    <li>Параметры маршрутов</li>
    <li>Обработчики страницы для запросов GET</li>
</ul>

<h2>Практическая часть</h2>
<p>
    Разработайте приложение ASP.NET Core, состоящее из нескольких страниц 
    Razor Pages. На каждой странице разместите решение одной задачи, на 
    главной странице (<b>Index.cshtml</b>) разместите задание на разработку. 
    Во всех формах <b>валидация не требуется</b>. 
    В навигационном меню используйте тег-хэлперы <b>asp-page</b>.
</p>
<br>
<p>
    <b>Страница 1.</b> В форме вводите данные о бытовой технике на оптовом 
    складе (наименование, тип техники, артикул, цена, количество, изображение). 
    Используйте привязку параметров формы к свойствам модели страницы. 
    Введенные данные отображайте на этой же странице.
</p>
<br>

<p>
    <b>Страница 2.</b> Создайте коллекцию данных о бытовой технике на оптовом 
    складе (наименование, тип техники, артикул, цена, количество, изображение). 
    В коллекции должно быть не менее 12 элементов. Коллекцию инициируйте набором 
    записей, хранить коллекцию в файле не требуется. По ссылкам, размещенным на 
    странице вызывайте обработчики запросов GET:
</p>
<ul>
    <li>вывод коллекции, упорядоченной по наименованию</li>
    <li>вывод коллекции, упорядоченной по убыванию цены</li>
    <li>вывод коллекции, упорядоченной по возрастанию количества</li>
</ul>
<p>
    В форме задайте диапазон цены, по кнопке submit выводите часть коллекции – 
    товары с ценой, попадающей в заданный диапазон. 
</p>
<br>
<p>
    <b>Страница 3.</b> Требуется хранить коллекцию плоских геометрических фигур: 
    квадраты, прямоугольники, разносторонние треугольники. По кнопке submit 
    (метод POST) формируйте фигуру, случайным образом выбирая ее тип и размер. 
    Добавляйте эту фигуру в коллекцию. Отображайте коллекцию на этой же странице, 
    выводите также изображение фигуры.
</p>
<p>
    По ссылкам на этой странице вызывайте обработчики запросов GET:
</p>
<ul>
    <li>вывод только квадратов, по убыванию площади</li>
    <li>вывод только прямоугольников, по возрастанию периметра</li>
    <li>вывод только треугольников, в обратном порядке по отношению к порядку в коллекции</li>
    <li>вывод всей коллекции в исходном порядке</li>
    <li>вывод всей коллекции по убыванию площади</li>
</ul>

<h2>Дополнение</h2>
<p>
    Запись занятия можно скачать <a href="https://cloud.mail.ru/public/8qaD/KNK72APNC">
        по этой ссылке
    </a>. Материалы занятия в этом же архиве.
</p>
