@page "{target}"

@model BindingRouteHandler.Pages.Page2Model
@{
    ViewBag.Title = "Страница 2";
    ViewBag.Active = "Page2";
    ViewBag.Header = "Обработка коллекции бытовой технике";
}

<!-- Условие задачи -->
<details>
    <summary><b>Страница 2.</b> @ViewBag.Header</summary>
    <p>
        Создайте коллекцию данных о бытовой технике на оптовом 
        складе (наименование, тип техники, артикул, цена, количество, изображение). 
        В коллекции должно быть не менее 12 элементов. Коллекцию инициируйте набором 
        записей, хранить коллекцию в файле не требуется. По ссылкам, размещенным на 
        странице вызывайте обработчики запросов GET:
    </p>
    <br>
    <ul>
        <li>вывод коллекции, упорядоченной по наименованию</li>
        <li>вывод коллекции, упорядоченной по убыванию цены</li>
        <li>вывод коллекции, упорядоченной по возрастанию количества</li>
    </ul>
    <p>
        В форме задайте диапазон цены, по кнопке submit выводите часть коллекции – 
        товары с ценой, попадающей в заданный диапазон. 
    </p>
</details>

<div class="container">
</div>
