@page
@model BindingRouteHandler.Pages.Page1Model
@{
    ViewBag.Title = "Страница 1";
    ViewBag.Active = "Page1";
    ViewBag.Header = "Ввод и отобржение сведений о бытовой технике";
}

<!-- Условие задачи -->
<details>
    <summary><b>Страница 1.</b> @ViewBag.Header</summary>
    <p>
        В форме вводите данные о бытовой технике на оптовом 
        складе (наименование, артикул, цена, количество, изображение). 
        Используйте привязку параметров формы к свойствам модели страницы. 
        Введенные данные отображайте на этой же странице.
    </p>
    <br />
</details>

<div class="container">
</div>

