@* Представление для запроса 7 *@
<div class="alert alert-warning alert-dismissible fade show mx-auto w-50">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Предупреждение</strong> Запрос 7 в разработке.
</div>