@* Представление для запроса 8 *@
<div class="alert alert-warning alert-dismissible fade show mx-auto w-50">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Предупреждение</strong> Запрос 8 в разработке.
</div>