@{
    ViewBag.Title = "Главная";
}

<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">

<!-- #region Теоретическая часть -->
<details open>
    <summary class="h5 text-primary">
        Теоретическая часть
    </summary>

    <ul>
        <li>Подключение Enity Framework Core 6 к ASP.NET Core MVC приложению</li>
        <li>Реализация CRUD-операций с таблицами базы данных</li>
        <li>
            Генерация контроллеров и представлений для выполнения CRUD-операций средствами Visual Studio –
            scaffolding
        </li>
        <li>Типичный прием работы с таблицами баз данных в веб-приложении – сортировка таблиц по столбцам</li>
    </ul>

</details>
<!-- #endregion -->


<!-- #region Практическая часть -->
<details open>
    <summary class="h5 text-primary">
        Практическая часть
    </summary>

    <p>
        Разработайте приложение ASP.NET Core MVC для работы с базой данных при помощи Entity Framework Core 6.
        Стилизацию разметки выполняйте при помощи Bootstrap. Реализуйте вывод задания, вывод всех записей таблиц
        базы данных. Все таблицы должны быть проинициированы не менее чем 10 записями.
    </p>

    <p>
        Требуется также выполнение запросов по заданию.
    </p>

    <table class="table table-bordered">
        <tdody>
            <tr>
                <td>
                    <i>База данных <b>«Туристическое агентство»</b></i>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Описание предметной области</b>
                    Фирма предоставляет клиентам услуги по организации зарубежных поездок. При этом цели поездок
                    могут быть различными (отдых, туризм, лечение и т.д.). При оформлении услуги устанавливается
                    фиксированная стоимость 1 дня пребывания в той или иной стране.
                    Стоимость поездки может быть вычислена как
                    <b>
                        Стоимость 1 дня пребывания * Количество дней
                        пребывания + Стоимость транспортных услуг + Стоимость оформления визы
                    </b>. Кроме того, клиент
                    платит налог на добавленную стоимость (НДС) в размере 3% от стоимости поездки.

                </td>
            </tr>
            <tr>
                <td class="fw-bolder fst-italic">
                    База данных должна включать как минимум таблицы КЛИЕНТЫ, МАРШРУТЫ, ПОЕЗДКИ, содержащие
                    следующую информацию:
                </td>
            </tr>
            <tr>
                <td>Фамилия клиента</td>
            </tr>
            <tr>
                <td>Имя клиента</td>
            </tr>
            <tr>
                <td>Отчество клиента</td>
            </tr>
            <tr>
                <td>Серия – номер паспорта клиента</td>
            </tr>
            <tr>
                <td>Страна назначения</td>
            </tr>
            <tr>
                <td>Цель поездки</td>
            </tr>
            <tr>
                <td>Стоимость 1 дня пребывания в стране назначения</td>
            </tr>
            <tr>
                <td>Стоимость транспортных услуг (определяется выбором страны)</td>
            </tr>
            <tr>
                <td>Стоимость оформления визы (определяется выбором страны)</td>
            </tr>
            <tr>
                <td>Дата начала пребывания в стране назначения</td>
            </tr>
            <tr>
                <td>Количество дней пребывания в стране назначения</td>
            </tr>
        </tdody>
    </table>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Номер запроса</th>
            <th>Тип запроса</th>
            <th>Какую задачу решает запрос</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>1</td>
            <td>
                <i>Реализовать фильтром</i>
            </td>
            <td>Выбирает информацию о маршрутах с заданной целью поездки</td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                <i>Реализовать фильтром</i>
            </td>
            <td>
                Выбирает информацию о маршрутах с заданной целью поездки и стоимостью транспортных услуг менее
                заданного значения
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                <i>Реализовать фильтром</i>
            </td>
            <td>
                Выбирает информацию о маршрутах в заданную страну
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Запрос на выборку</td>
            <td>Выбирает информацию о маршрутах в заданную страну</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Запрос на выборку</td>
            <td>
                Выбирает информацию о странах, для которых стоимость оформления визы есть значение из некоторого
                диапазона
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>Запрос на выборку</td>
            <td>
                Вычисляет для каждой поездки ее полную стоимость с НДС. Включает поля Страна назначения, Цель
                поездки, Дата начала поездки, Количество дней пребывания, Полная стоимость поездки. Сортировка по
                полю Страна назначения
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Итоговый запрос – агрегатные функции</td>
            <td>
                Выполняет группировку по полю Цель поездки. Определяет минимальную, среднюю и максимальную
                стоимость 1 дня пребывания
            </td>
        </tr>
        <tr>
            <td>8</td>
            <td>Итоговый запрос – агрегатные функции</td>
            <td>
                Выполняет группировку по полю Страна назначения. Для каждой страны вычисляет среднее значение по
                полю Стоимость транспортных услуг
            </td>
        </tr>
        </tbody>
    </table>

    <p>Также требуется реализовать:</p>

    <ul>
        <li>вывод всех записей о клиентах, выводить по 8 записей на страницу; добавление, редактирование данных о клиенте</li>
        <li>вывод всех записей о маршрутах, выводить по 5 записей на страницу; добавление, редактирование данных о маршруте</li>
        <li>вывод всех записей о поездках, выводить по 10 записей на страницу; добавление, редактирование, удаление данных о поездке</li>
        <li>
            сортировку данных о поездке: <i>по первичному ключу</i>, по дате начала, по длительности, по стране пребывания – и по убыванию, и по
            возрастанию (по примеру, рассмотренному в классной работе, но выводить коллекцию в исходном и отсортированном виде надо на одну страницу, в одну и ту же таблицу).
        </li>
    </ul>
</details>
<!-- #endregion -->

<!-- #region Дополнительно -->
<details open>
    <summary class="h5 text-primary">
        Дополнительно
    </summary>

    <p>
        Запись занятия можно скачать по
        <a href="https://cloud.mail.ru/public/pUZQ/m2JfTB4xu" target="_blank">
            <b>этой ссылке</b>
        </a>,
        материалы занятия в этом же архиве.
    </p>

</details>
<!-- #endregion -->
</section>
