@* для игнорирования шаблона _Layout.cshtml *@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users. Index View</title>
</head>
<body>
    <p>
        Current users: @Model | @ViewBag.Id
    </p>
</body>
</html>
