@{
    ViewBag.Title = "Index";
}


<h3>В строке адреса введите маршрут с ид, например: Home/Index/42</h3>
<h3>В строке адреса введите, например: documents/invoices/AK234567edit</h3>
<h3>В строке адреса введите, например: documents/invoices/AK234567/view</h3>
<h3>В строке адреса введите, например: users/tim</h3>

<p>id = <b>@(Model == null ? "не задан" : $"{Model}")</b></p>

