@page
@model Home_Work.Pages.IndexModel
@{
    ViewData["title"] = "Главная страница";
    ViewData["pageHeader"] = "ГЛАВНАЯ СТРАНИЦА";
    ViewBag.IsActive = 0;
}


<!--Текст задания-->
<section>
    <h3>Теоретическая часть </h3>
    <!--Верхний список-->

    <ul class="text-size-bigger">
        <li>Привязка свойств страниц и моделей Razor к параметрам запроса</li>
        <li>Понятие о передаче параметров методом GET</li>
        <li>Понятие о маршрутизации</li>
        <li>Параметры маршрутов</li>
        <li>Обработчики страницы для запросов GET</li>
    </ul>

    <h3>Практическая часть</h3>
    <p>
        Разработайте приложение ASP.NET Core, состоящее из нескольких страниц Razor Pages. 
        На каждой странице разместите решение одной задачи, на главной странице (<b>Index.cshtml</b>) 
        разместите задание на разработку. Во всех формах <b>валидация не требуется</b>. 
        В навигационном меню используйте тег-хэлперы <b>asp-page</b>.
    </p>
    <p>
        <b>Страница 1. </b>
        Создайте коллекцию данных о бытовой технике на оптовом складе (наименование, 
        тип техники, артикул, цена, количество, изображение). В коллекции должно 
        быть не менее 12 элементов. Коллекцию инициируйте набором записей, 
        храните коллекцию в файле формата JSON в папке App_Data проекта. 
        По кнопкам submit, размещенным на странице вызывайте обработчики запросов POST:
    </p>

    <ul>
        <li>вывод коллекции, упорядоченной по наименованию</li>
        <li>вывод коллекции, упорядоченной по убыванию цены</li>
        <li><i>добавление новой записи о товаре, файл с изображением формируйте по типу товара, не загружайте его на сервер</i> </li>
        <li>вывод коллекции, упорядоченной по возрастанию количества</li>
        <li>вывод части коллекции – товары с ценой, попадающей в заданный диапазон</li>
    </ul>

    <p>
        <b>Страница 2. </b>
        Требуется хранить в файле формата JSON в папке App_Data проекта коллекцию плоских 
        геометрических фигур: квадраты, прямоугольники, разносторонние треугольники. 
        Инициализация коллекции должна проводиться при отсутствии файла, формируйте не менее 10 фигур. 
        По кнопке <b>submit</b> (метод POST) формируйте фигуру, случайным образом выбирая ее тип и размер. 
        <i>Создайте форму для ввода параметров фигуры. Загружать изображение не требуется, 
        формируйте его по типу фигуры. Добавляйте фигуры в коллекцию, сохраняйте коллекцию.</i> 
        Отображайте коллекцию на этой же странице, выводите также изображение фигуры.
    </p>

    <p>
        По ссылкам на этой странице вызывайте обработчики запросов GET:
    </p>
    
    <ul>
        <li>вывод только квадратов, по убыванию площади</li>
        <li>вывод только прямоугольников, по возрастанию периметра</li>
        <li>вывод только треугольников, в обратном порядке по отношению к порядку в коллекции</li>
        <li>вывод всей коллекции в исходном порядке</li>
        <li>вывод всей коллекции по убыванию площади</li>
        <li><i>вывод всей коллекции, упорядоченной по типу фигур</i></li>
    </ul>

    <h3>Дополнительно</h3>
    <p>
        Запись занятия можно скачать <a class="link-to-record" target="_blank" href="https://cloud.mail.ru/public/oM1M/rqtv9f8YQ">по этой ссылке</a>.
        Материалы занятия в этом же архиве.
    </p>

</section>