<h3>Routing samples</h3>
<div>
    <ul>
        <li>Sample: <b>DefaultValue</b></li>
        <li>Controller: <b>Home</b></li>
        <li>Method: <b>Index</b></li>
    </ul>
    <h4>Можно вводить маршруты в адресной строке</h4>
    <ul>
        <li>home/index</li>
        <li>home/list</li>
        <li>test</li>
        <li>test/list</li>
    </ul>
</div>
