<h3>Routing samples.</h3>
<div>
    Sample: DefaultValue <br /><br />
    Controller: <b>Home</b><br />
    Method: List<br /><br />
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </ul>
</div>

