@page "{handler?}/{id?}"
@using HomeWork.Models
@model HomeWork.Pages.Categories

@{
    ViewBag.Title = "Категории";
}


<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">
    <!-- #region Теоретическая часть -->
    <details>
        <summary class="h5 text-primary ">
            Задание 1. Учет подписки на периодические печатные издания
        </summary>

        <!-- #region Задание 1 -->
        <p>
            Разработайте приложение ASP.NET Core, состоящее из нескольких страниц Razor Pages. Стилизацию разметки
            выполняйте при помощи Bootstrap. Реализуйте вывод задания, вывод всех записей таблиц базы данных, создание,
            редактирование записей таблиц. Для таблицы ПОДПИСКИ реализуйте удаление записей.
        </p>

        <p>Требуется также выполнение запросов по заданию.</p>

        <!-- Таблица спецификации -->
        <table class="table table-bordered w-50 mx-auto bg-white">
            <tbody>
            <tr >
                <td class="fst-italic">
                    Создайте базу данных «<b>Учет подписки на периодические печатные издания</b>»
                </td>
            </tr>
            <tr>
                <td class="fw-bold fst-italic">
                    База данных должна включать таблицы ПОДПИСКИ, КАТЕГОРИИ содержащие следующую информацию:
                </td>
            </tr>
            <tr>
                <td>Индекс издания по каталогу (строка из цифр)</td>
            </tr>
            <tr>
                <td>Вид издания (газета, журнал, альманах, каталог, …)</td>
            </tr>
            <tr>
                <td>Наименование издания (название газеты, журнала, …)</td>
            </tr>
            <tr>
                <td>Цена 1 экземпляра (в руб.)</td>
            </tr>
            <tr>
                <td>Дата начала подписки</td>
            </tr>
            <tr>
                <td>Длительность подписки (количество месяцев)</td>
            </tr>
            </tbody>
        </table>


        <!-- Таблица запросов -->
        <table class="table table-bordered bg-white w-50 mx-auto">
            <!-- Заголовок таблицы -->
            <thead>
            <tr>
                <th>Номер запроса</th>
                <th>Тип запроса</th>
                <th>Какую задачу решает запрос</th>
            </tr>
            </thead>

            <!-- Тело таблицы -->
            <tbody>
            <tr>
                <td>1</td>
                <td>Запрос на выборку</td>
                <td>Выбирает информацию об издании с заданным <b>индексом</b>.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Запрос на выборку</td>
                <td>
                    Выбирает информацию обо всех изданиях, для которых <b>цена 1 экземпляра</b> есть значение из
                    некоторого диапазона.
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Запрос на выборку</td>
                <td>
                    Выбирает информацию об изданиях, для которых <b>Длительность подписки</b> есть значение из
                    некоторого диапазона.
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Запрос на выборку</td>
                <td>Выбирает информацию об изданиях с заданным значением в поле <b>Вид издания</b>.</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Итоговый запрос – агрегатные функции</td>
                <td>
                    Выполняет группировку по полю <b>Вид издания</b>. Для каждого вида вычисляет среднюю цену 1
                    экземпляра, количество изданий в группе
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>Итоговый запрос – агрегатные функции</td>
                <td>
                    Выполняет группировку по полю <b>Вид издания</b>. Для каждого вида вычисляет максимальную и
                    минимальную цену 1 экземпляра, количество изданий в группе
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>Итоговый запрос – агрегатные функции</td>
                <td>
                    Выполняет группировку по полю <b>Длительность подписки</b>. Для каждого срока вычисляет среднюю
                    цену 1 экземпляра
                </td>
            </tr>
            </tbody>
        </table>
        <!-- #endregion -->


    </details>
    <!-- #endregion -->
</section>

<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">
    <table class="table table-hover align-middle w-50 mx-auto">
        <thead>
        <tr>
            <th>Id</th>
            <th>Наименование</th>
            <th class="w-15rem">
                <a class="btn btn-success w-100" asp-page-handler="Add" asp-page="CategoryForm">Добавить запись</a>
            </th>
        </tr>
        </thead>

        <tbody>
        @foreach (var category in Model.CategoryList)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td class="d-flex justify-content-around">
                    <a class="btn btn-warning w-100" asp-page-handler="Edit" asp-page="CategoryForm" asp-route-id="@category.Id">Редактировать</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</section>
