@model System.Collections.Generic.List<HomeWork.Models.QueryResults.Query10Result>

@{
    ViewBag.Title = "Запрос 10. Единицы измерения и прибыль";
}


<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">
    <h4 class="text-center">@ViewBag.Title</h4>

    <query10-result-table items="Model"></query10-result-table>
</section>
