@model HomeWork.Models.Seller

@section Head
{
    @* скрипты валидации *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}

@{
    ViewBag.Title = ViewBag.IsAdd ? "Добавление продавца" : "Редактирование продавца";
}

<section class="mx-auto my-4 bg-light shadow-sm border rounded-3 w-50 h-75 p-3">
    <h5 class="text-center">@ViewBag.Title</h5>

    <hr/>

    <!-- #region Форма для записи -->
    <form method="post" asp-controller="Sellers" asp-action="@(ViewBag.IsAdd ? "AddSeller" : "EditSeller")"
          asp-antiforgery="true" class="mx-auto">

        <!-- Id -->
        <input asp-for="Id">

        <!-- Фамилия -->
        <div class="form-floating my-3">
            <input asp-for="Surname" placeholder="Фамилия" class="form-control">
            <label asp-for="Surname"></label>
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <!-- Имя -->
        <div class="form-floating my-3">
            <input asp-for="Name" placeholder="Имя" class="form-control">
            <label asp-for="Name"></label>
            <span asp-validation-for="Name" clss="text-danger"></span>
        </div>

        <!-- Отчество -->
        <div class="form-floating my-3">
            <input asp-for="Patronymic" placeholder="Отчество" class="form-control">
            <label asp-for="Patronymic"></label>
            <span asp-validation-for="Patronymic" cla ss="text-danger"></span>
        </div>

        <!-- Процент от продажи -->
        <div class="form-floating my-3">
            <input asp-for="Interest" placeholder="Процент от продажи" class="form-control">
            <label asp-for="Interest"></label>
            <span asp-validation-for="Interest" clss="text-danger"></span>
        </div>

        <!-- Кнопки управления -->
        <input class="btn btn-success me-2"
               type="submit" value="@(ViewBag.IsAdd ? "Добавить" : "Сохранить")"/>
        <a class="btn btn-danger" asp-controller="Sellers" asp-action="Index">Выход</a>

    </form>
    <!-- #endregion -->

</section>
