
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <p>Вы успешно зарегистрировались</p>
    <p>
        В базу записан пользователь, name: 
        @($" {Model.FirstName}, surname: {Model.LastName}, (email: {Model.Email}, tel: {Model.PhoneNumber})")
    </p>
</body>
</html>
