@{
    ViewBag.Title = "Главная";
}

<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">

    <!-- #region Теоретическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Теоретическая часть
        </summary>

        <ul>
            <li>Атрибуты маршрутизации</li>
            <li>Атрибуты маршрутизации для метода действия</li>
            <li>Ограничения в атрибутах маршрутизации</li>
            <li>Задание множественных маршрутов атрибутами маршрутизации</li>
            <li>Атрибуты маршрутизации для контроллера</li>
            <li>Понятие об области как об изолированном мини-приложении</li>
            <li>Структура области</li>
            <li>Маршрутизация для области</li>
        </ul>

    </details>
    <!-- #endregion -->


    <!-- #region Практическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Практическая часть
        </summary>

        <p>
            Создайте приложение ASP.NET Core MVC с использованием областей. Вне области выводите текст задание
            и разместите решение задачи 1. В области Task2 разместите решение задачи 2.
        </p>

        <!-- #region Задание 1 -->
        <p>
            <b>Задача 1</b>. Реализуйте вычисления, приведенные на рисунках 1 и 2. Исходные данные задавайте те,
            что показаны на рисунках, формы ввода создавать не требуется. Вычисления по рисункам 1 и 2 разместите в
            отдельных методах действия, используйте атрибуты маршрутизации.
        </p>

        <div class="text-center">
            <img src="images/image1.png" alt="image1">

            <p>Рисунок 1</p>

            <img src="images/image2.png" alt="image2">

            <p>Рисунок 2</p>
        </div>

        <!-- #endregion -->

        <!-- #region Задание 2 -->

        <p><b>Задача 2</b>. Реализуйте вычисления, приведенные на рисунке 3, исходные данные вводите в форму.</p>
        <div class="text-center">
            <img src="images/image3.png" alt="image3">

            <p>Рисунок 3</p>
        </div>

        <!-- #endregion -->

    </details>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <details open>
        <summary class="h5 text-primary">
            Дополнительно
        </summary>

        <p>
            Запись занятия можно скачать по
            <a href="https://cloud.mail.ru/public/uZgp/kfawxoi2p" target="_blank">
                <b>этой ссылке</b>
            </a>,
            материалы занятия в этом же архиве.
        </p>

    </details>
    <!-- #endregion -->
</section>
