@model HomeWork.Models.ClientPasswordBindingModel

@section Head
{
    @* скрипты валидации *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}

<section class="mx-auto my-4 bg-light shadow-sm border rounded-3 h-75 p-3 w-50">

    <form method="post" class="mx-4" asp-controller="Clients"
          asp-action="EditClientPassword" enctype="multipart/form-data">

        <h4 class="text-center">@ViewBag.Title</h4>
        <h4 class="text-center">@ViewBag.Client</h4>

        <hr>

        @* id *@
        <input asp-for="Id" value="@Model.Id">

        @* пароль *@
        <div class="input-group my-3">
            <label asp-for="Password" class="input-group-text w-16rem"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger w-100"></span>
        </div>

        @* подтверждение пароля *@
        <div class="input-group my-3">
            <label asp-for="PasswordConfirm" class="input-group-text w-16rem"></label>
            <input asp-for="PasswordConfirm" class="form-control">
            <span asp-validation-for="PasswordConfirm" class="text-danger w-100"></span>
        </div>

        <hr>

        @* управление *@
        <div class="d-flex justify-content-end">
            <input class="btn btn-success w-10rem me-3" type="submit" value="Сохранить">
            <a class="btn btn-danger w-10rem" asp-controller="Clients" asp-action="Index">Выйти</a>
        </div>
    </form>

</section>
