@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Driver";
}

<h1>Действие: @ViewBag.Title</h1>

<h3>Получено от контроллера, метод Driver через модель: @Model</h3>
