@*
    Предствление,принимающее данные от контроллера через модель
*@
@{
    ViewBag.Title = "Index";
}

<h1>Действие: @ViewBag.Title</h1>

<h3>Получено от контроллера, метод Index через модель: @Model</h3>
