@* строго типизированная модель *@
@model IEnumerable<SimpleApp.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h1>Products</h1>

<h1>Действие: @ViewBag.Title</h1>

<h3>Получено от контроллера, метод Producta через строго типизированную модель:</h3>

<table>
    <thead>
    <tr>
            <th>Ид</th>
            <th>Наименование</th>
            <th>Цена</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var product in Model) {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>