
@{
    ViewBag.Title = "Главная страница";
}

<div class="brief">
    <h2>Теоретическая часть</h2>
    
   <ul>
       <li>Понятие о частичном представлении</li>
       <li>Встраивание частичного представления в разметку </li>
       <li>Передача данных в частичное представление</li>
       <li>Типы результатов методов действия контроллера</li>
       <li>Переадресация в методах действия</li>
       <li>Возвращение клиенту JSON, понятие об AJAX</li>
       <li>Возвращение клиенту содержимого заданного MIME-типа</li>
       <li>Возвращение клиенту файлов, отправка файлов клиенту (скачивание файлов с сервера)</li>
       </ul>
    
    <h2>Практическая часть</h2>

    <p>
        Создать приложение ASP.NET Core MVC, каждая задача должна решаться в собственном контроллере. Стилизацию 
        приложения выполняйте при помощи фреймворка Bootstrap. 
    </p>

    <p>Примените страницу компоновки. Не забывайте создать модель для решения задачи. По GET-запросу
        <b>/Home/Index</b> выводите этот текст. </p>
    
    <p><b>Задача 1.</b> Туристическая фирма организует пешие маршруты по степным заказникам. Сведения о туристических 
        маршрутах содержат: идентификатор маршрута, начальный пункт маршрута, обязательный промежуточный пункт маршрута,
        конечный пункт маршрута, протяженность маршрута в км (целое число), сложность маршрута (значение из 
        ряда <b>А-, А, А+, В-, В, В+, С-, С, С+; А-</b> соответствует минимальной сложности, <b>С+</b> соответствует максимальной
        сложности), фамилия и инициалы инструктора маршрута (всего на фирме работает пять инструкторов,
        <i>требуется
            редактировать сведения об инструкторах, удалять или добавлять инструктора не надо</i>).</p>

    <p>Сведения об инструкторах содержат: идентификатор инструктора, фамилия, имя, отчество, дата рождения, 
        категория (<b>А, В, С</b>; А – низшая категория, С – высшая категория).</p>
    
    <p>Данные о маршрутах и инструкторах хранить в файле <b>routes.json, instructors.json</b> в папке <b>App_Data</b>.
        Требуется реализовать следующий функционал (критерии сортировки и выборки задавайте через переменные маршрута):</p>
    
    <ul>
        <li>Добавление маршрута (в форме на отдельной странице)</li>
        <li>Редактирование сведений о маршруте (в форме на отдельной странице, это может быть та же страница, что страница добавления маршрута)</li>
        <li>Удаление сведений о маршруте</li>
        <li>Вывод сведений о маршруте в порядке хранения в файле</li>
        <li>Вывод сведений о маршруте по убыванию протяженности маршрута</li>
        <li>Вывод сведений о маршруте по возрастанию протяженности маршрута</li>
        <li>Вывод сведений о маршруте по возрастанию сложности</li>
        <li>Вывод маршрутов с заданным начальным пунктом</li>
        <li>Вывод маршрутов, проходящих через заданный промежуточный пункт</li>
        <li>Вывод маршрутов с протяженностью, попадающей в заданный интервал</li>
        <li>Вывод сведений об инструкторах в порядке хранения в файле</li>
        <li>Вывод сведений об инструкторах в порядке убывания категорий</li>
        <li>Вывод сведений об инструкторах в алфавитном порядке</li>
        <li>Вывод сведений об инструкторах с заданной категорией</li>
        <li><i>Выводите сведения об инструкторе, выбранном кнопкой (аналогично редактированию) в модальном
            «окне» на той же странице, что и сведения об инструкторах (используйте AJAX, возвращение JSON из метода действия контроллера)  </i></li>
        </ul>
    
    <h2>Дополнительно</h2>
    <p>
        Запись занятия можно скачать по
        <a href="https://cloud.mail.ru/public/EsJL/FXcrtNQWX">
            <b>этой ссылке</b>
        </a>.
        Материалы занятия – в этом же архиве.
    </p>
</div>