/* Общий стиль*/

/* панель навигации */
img.logo {
    width: 2.3rem;
}

/* контент */
main {
    min-height: 100vh;
}

/* логотип */
.logo {
    transition: all 0.3s ease-out;
}

/* наведение на логотип */
.logo:hover {
    transform: scale(1.4);
}

.h-30rem {
    height: 30rem;
}

.h-20rem {
    height: 20rem;
}

.h-11rem {
    height: 11rem;
}

.h-10rem {
    height: 11rem;
}

.w-18rem {
    width: 18rem;
}

.w-16rem {
    width: 16rem;
}

.w-15rem {
    width: 15rem;
}

.w-10rem {
    width: 10rem;
}
