
@{
    ViewBag.Header = "Главная страница";
}

<div class="brief">
    <h2>Теоретическая часть</h2>

    <ul>
        
    </ul>

    <h2>Практическая часть</h2>

    <p>
        Создать приложение ASP.NET Core MVC, каждая задача должна решаться в собственном контроллере. Стилизацию 
        приложения выполняйте при помощи фреймворка Bootstrap. 
    </p>

  
    
    <h2>Дополнение</h2>
    <p>
        Запись занятия можно скачать по
        <a href="https://cloud.mail.ru/public/nUR6/nRDdKu6YT">
            <b>этой ссылке</b>
        </a>.
        Материалы занятия – в этом же архиве.
    </p>
</div>