

<div class="my-5 mx-5">
    <p class="display-5">Selected Item: <strong>@Model</strong></p>
    <div class="my-5">
        <a asp-controller="Home" asp-action="Index">На главную</a>
    </div>
</div>

