@* строго типизированное часичное представление *@
@model PartialViews02.Model.ContactsViewModel

<ul>
    <li>телефон: @Model.Phone</li>
    <li>email: @Model.Email</li>
    <li>адрес: @Model.Address</li>
</ul>