@using Home_work.Components.Characters;
@using Microsoft.AspNetCore.Html;
@{
    ViewBag.title = "Исходная коллекция персонажей";
    ViewBag.PageName = "Characters";
}


<!--Задание-->
<details class="task-details">
    <summary class="h5 text-primary">
        Задание 1
    </summary>
    <p>
        <b>Задача 1.</b> Требуется при помощи сервиса получать коллекцию из 42х персонажей, используя
        <a class="link-to-record" target="_blank" href="https://swapi.dev/">ресурс</a> по запросу 
        <a class="link-to-record" target="_blank" 
            href="https://swapi.dev/api/people/">
            https://swapi.dev/api/people/
        </a>.
        Обратите внимание, что выдается несколько записей, для загрузки требуемого количества 
        придется использовать модификацию запроса. Какую именно – разберитесь по выдаче API. 
        Сохранять в коллекции все поля, добавьте поле идентификатора. 
        Коллекцию выводить в компонент представления в табличном виде, выводите не более 8 полей. 
        Компонент и сервис рекомендуется сделать асинхронными. 
        Обработка в коде компонента – вывод среднего веса персонажей, 
        разности минимального и максимального весов.
    </p>
    <p>
        <ul>
            <li>
                По кнопке, размещенной в табличном выводе компонента, на отдельной странице 
                вывести подробную информацию о персонаже (все поля), 
                вывод выполнить в еще один компонент представления 
            </li>
            <li>
                По кнопке в интерфейсе страницы выбрать персонажей с заданным диапазоном веса, 
                параметры выборки передавать в компонент представления вывода коллекции персонажей
            </li>
            <li>
                По кнопке в интерфейсе страницы выбрать персонажей с заданным названием «родной» планеты, 
                параметры выборки передавать в компонент представления вывода коллекции персонажей
            </li>
            <li>
                По кнопке в интерфейсе страницы выводить в компонент представления коллекции персонажей, 
                упорядоченной по возрастанию массы
            </li>
        </ul>
    </p> 
</details>

<h4 class="mt-3">@ViewBag.title</h4>

<div>
    @await Component.InvokeAsync(nameof(CharactersComponent));

</div>

