@using Microsoft.AspNetCore.Mvc.Controllers;

@functions {
    // получить стиль
    string ActiveStyle(string pageName)
    {
        if (ViewBag.PageName == null)
            return ((ControllerActionDescriptor)ViewContext.ActionDescriptor).ControllerName == pageName ? "active" : "";

        return ViewBag.PageName == pageName ? "active" : "";
    }

    string IsActive(string? controller = null, string? action = null)
    {
        ControllerActionDescriptor actionDescriptor = (ControllerActionDescriptor)ViewContext.ActionDescriptor;

        string curController = actionDescriptor.ControllerName;
        string curAction = actionDescriptor.ActionName;

        return curController == controller || (curController == controller && curAction == action) ? "active" : "";
    }

}

<!DOCTYPE html>
<html lang="ru">
<head>

    <!-- #region Стили -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/style.css">
    <!-- #endregion -->

    <!-- #region Скрипты -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- #endregion -->

    <!-- заголовок -->
    <title>@ViewBag.Title</title>

    <!-- логотип -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/icon.svg">

    <!-- подключение дополнительных стилей и скриптов -->
    @await RenderSectionAsync("Head", false)
</head>

<body>

<!-- #region Навигация -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top shadow">
    <div class="container-fluid justify-content-center ">
        <!-- Логотип -->
        <a class="navbar-brand mx-2" asp-page="/Index">
            <img class="logo" src="~/images/icon.svg" alt="logo">
            @* HomeWork *@
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">

                <!-- #region Ссылки на страницы -->

                <!-- Главная -->
                <li class="nav-item">
                    <a class="nav-link @ActiveStyle("Home") mx-3" asp-controller="Home" asp-action="Index">Главная</a>
                </li>

                <!-- Задание 1 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle @ActiveStyle("Task1")"
                       id="navbarTask1Id" role="button" data-bs-toggle="dropdown" aria-expanded="False">
                        Библиотека
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarTask1Id">
                        <li>
                            <a class="dropdown-item" asp-controller="Library" asp-action="Index">Все книги</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Library" asp-action="OrderByAuthor">Сортировка по автору</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Library" asp-action="OrderByPubYear">Сортировка по году издания</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- #endregion -->

<!-- #region Главная секция -->
<main>
    @RenderBody()
</main>
<!-- #endregion -->

<!-- #region Подвал-->
<footer class="bg-dark shadow fs-6 text-white-50 p-5 pb-2">
    <p>
        Разработчик:
        <a href="https://github.com/MikhailGoriachev" target="_bank">
            <b>Горячев Михаил</b>
        </a>
    </p>
    <p>Группа: <b>ПД011</b></p>
    <p>Город: <b>Донецк</b></p>
    <p>Год создания: <b>2022</b></p>
    <p>
        Поддержка:
        <a href="mailto:goriachevmichael@gmail.com">
            <b>goriachevmichael@gmail.com</b>
        </a>
    </p>

</footer>
<!-- #endregion -->
</body>

</html>
