@*
    Выворл результатов запроса 2
*@
@{
    ViewBag.Title = "Запрос 2. Запрос на выборку.";
}

<h3>@ViewBag.Title</h3>
<h3>@ViewBag.Task</h3>

@* вывод в соответствии с запросом на выборку данных *@