@*
    Выворл результатов запроса 1
*@    
@{
    ViewBag.Title = "Запрос 1. Запрос на выборку.";
}

<h3>@ViewBag.Title</h3>
<h3>@ViewBag.Task</h3>

@* вывод в соответствии с запросом на выборку данных *@