@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Homework.TagHelpers
@model IQueryable<Homework.Models.Queries.Query08Result>

@{
    ViewBag.Title = "Итоговый запрос";
    Layout = "_Layout";
}

<h4 class="text-center color-1">Группировка по наименованию закупленного товара</h4>

<table class="table table-striped">
    <thead class="border-dark">
    <tr>
        <th>Название</th>
        <th>Единицы</th>
        <th>Сред. цена закупки</th>
        <th>Количество закупок</th>
    </tr>
    </thead>
    <tbody class="color-2">
    @foreach (var item in Model!)
    {
        <tr>
            <td>@item.GoodsName</td>
            <td>@item.Units</td>
            <td>@(item.AvgPrice != null ? item.AvgPrice : "нет данных")</td>
            <td>@(item.Amount != null ? item.Amount : "нет данных")</td>
        </tr>
    }

    </tbody>

</table>