@page
@model Homework.Pages.Query7

@{
    ViewBag.Header = "Итоговый запрос";
}


@* Таблица с данными *@
<table class="table text-center">
    <thead class="fw-bold align-top">
    <tr>
        <td>Цель поездки</td>
        <td>Минимальная стоимость 1<br/> дня пребывания</td>
        <td>Средняя стоимость 1<br/> дня пребывания</td>
        <td>Максимальная стоимость 1<br/> дня пребывания</td>
    </tr>
    </thead>
    <tbody>
    @if (Model.QueryResult is not null && Model.QueryResult.Any()){
        @foreach (var result in Model.QueryResult){
            <tr>
                <td>@result.Purpose</td>
                <td>@result.MinPrice</td>
                <td>@($"{result.AvgPrice:.#}")</td>
                <td>@result.MaxPrice</td>
            </tr>
        }
    }else{
        <tr><td colspan="5" class="text-primary text-center">Нет данных для отображения</td></tr>
    }
    </tbody>
</table>