@model HomeWork.Models.BindingModels.Query01BindingModel?

@{
    ViewBag.Title = $"Запрос 1. Ед. измерения \"{ViewBag.UnitName}\", Макс. цена: {ViewBag.MaxPrice}";
}

<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">
    <h4 class="text-center">@ViewBag.Title</h4>

    <form method="post" id="formId" class="d-flex align-items-center">

        <div class="form-floating mx-3 w-15rem">
            <select asp-items="ViewBag.UnitList" asp-for="UnitId" class="form-control" required></select>
            <label asp-for="UnitId">Единицы измерения</label>
        </div>

        <div class="form-floating mx-3 w-15rem">
            <input asp-for="MaxPrice" class="form-control" placeholder="Макс. цена">
            <label asp-for="MaxPrice">Максимальная цена</label>
        </div>

        <input class="btn btn-primary mx-3" type="submit" value="Выбрать">
        <a class="btn btn-warning" id="formCancelBtn">Сбросить</a>
    </form>

    <purchases-table items="@ViewBag.Items"></purchases-table>
</section>
