@{
    ViewBag.title = "Главная страница";
    ViewBag.pageHeader = "ГЛАВНАЯ СТРАНИЦА";
    ViewBag.PageName = "Index";
}


<!--Текст задания-->
<section>
    <h3 class="text-primary">Теоретическая часть </h3>
    <!--Верхний список-->

    <ul class="text-size-bigger">
        <li>Привязка простых данных к методу действия контроллера</li>
        <li>Привязка сложных типов данных</li>
        <li>Привязка коллекция</li>
        <li>Задание источника для привязки данных к методу действия</li>
        <li>Понятие о компонентах представлений</li>
        <li>Создание компонентов и применение компонентов в разметке</li>
        <li>POCO-компонент (Plain Old CLR Object)</li>
        <li>Построение компонента как расширение класса ViewComponent</li>
        <li>Типы результата метода <b>Invoke()</b> компонентов представлений</li>
        <li>Размещение разметки компонента представления – в 
            папке представлений контроллера или в папке <b>_Shared</b>
            </li>
        <li>Передача параметров в компонент (в метод <b>Invoke()</b>) из представления</li>
        <li>Асинхронные компоненты</li>
        <li>Гибридные компоненты – контроллер с методом Invoke() и 
            атрибутом <b>ViewComponent</b>
            </li>
      
    </ul>

    <h3 class="text-primary">Практическая часть</h3>
    <p>
       Создать приложение ASP.NET Core MVC. Стилизацию приложения выполняйте при помощи фреймворка Bootstrap. 
       Примените страницу компоновки. Не забывайте создавать модель/модели для решения задачи. 
       По GET-запросу <b>/Home/Index</b> выводите этот текст.  
    </p>
    <p>
        <b>Задача 1.</b> Требуется при помощи сервиса получать коллекцию из 42х персонажей, используя
        <a class="link-to-record" target="_blank" href="https://swapi.dev/">ресурс</a> по запросу 
        <a class="link-to-record" target="_blank" 
            href="https://swapi.dev/api/people/">
            https://swapi.dev/api/people/
        </a>.
        Обратите внимание, что выдается несколько записей, для загрузки требуемого количества 
        придется использовать модификацию запроса. Какую именно – разберитесь по выдаче API. 
        Сохранять в коллекции все поля, добавьте поле идентификатора. 
        Коллекцию выводить в компонент представления в табличном виде, выводите не более 8 полей. 
        Компонент и сервис рекомендуется сделать асинхронными. 
        Обработка в коде компонента – вывод среднего веса персонажей, 
        разности минимального и максимального весов.
    </p>
    <p>
        <ul>
            <li>
                По кнопке, размещенной в табличном выводе компонента, на отдельной странице 
                вывести подробную информацию о персонаже (все поля), 
                вывод выполнить в еще один компонент представления 
            </li>
            <li>
                По кнопке в интерфейсе страницы выбрать персонажей с заданным диапазоном веса, 
                параметры выборки передавать в компонент представления вывода коллекции персонажей
            </li>
            <li>
                По кнопке в интерфейсе страницы выбрать персонажей с заданным названием «родной» планеты, 
                параметры выборки передавать в компонент представления вывода коллекции персонажей
            </li>
            <li>
                По кнопке в интерфейсе страницы выводить в компонент представления коллекции персонажей, 
                упорядоченной по возрастанию массы
            </li>
        </ul>
    </p> 
    <p>
        <b>Задача 2.</b> Требуется при помощи сервиса получать коллекцию из 33х планет, используя
        <a class="link-to-record" target="_blank" href="https://swapi.dev/">ресурс</a> по запросу 
        <a class="link-to-record" target="_blank" 
            href="https://swapi.dev/api/planets/">
            https://swapi.dev/api/planets/
        </a>.
        Обратите внимание, что выдается несколько записей, для загрузки требуемого количества 
        придется использовать модификацию запроса. Какую именно – разберитесь по выдаче API. 
        Сохранять в коллекции все поля, добавьте поле идентификатора. 
        Коллекцию выводить в компонент представления в табличном виде, выводите не более 8 полей. 
        Компонент и сервис рекомендуется сделать асинхронными. 
        Компонент должен быть гибридным. Обработка в коде компонента – вывод минимального, среднего 
        и максимального диаметра планет; минимального, среднего и максимального орбитального периода планет.
    </p>
    <p>
        <ul>
            <li>
                По кнопке, размещенной в табличном выводе компонента, на отдельной странице вывести подробную информацию 
                о планете (все поля), вывод выполнить в еще один компонент представления 
            </li>
            <li>
                По кнопке в интерфейсе страницы выбрать планеты с заданным типом поверхности, 
                параметр выборки передавать в компонент представления вывода коллекции планет
            </li>
            <li>
                По кнопке в интерфейсе страницы выбрать планеты с заданным диапазоном значений 
                диаметра планеты, параметры выборки передавать в компонент представления 
                вывода коллекции планет
            </li>
            <li>
                По кнопке в интерфейсе страницы выводить в компонент представления вывода 
                коллекции планет, сведения о планетах, упорядоченные по убыванию массы, 
            </li>
        </ul>
    </p>

    <p>
        Разработайте сервис логирования, сохраняющий в файле <b>application.log</b> в папке <b>App_Data</b> факты создания и редактирования 
        сведений о клиентах: момент времени операции с точностью до секунды, 
        собственно данные клиента (включая закодированный пароль).
    </p>
    <p>
        Разработайте глобальный фильтр исключений – сервис с внедрением зависимостей. 
        Параметры исключений записывайте в файл журнала при помощи сервиса логирования.
    </p>

    <h3 class="text-primary">Дополнительно</h3>
    <p>
        Запись занятия можно скачать <a class="link-to-record" target="_blank" href="https://cloud.mail.ru/public/bhgA/bSXe9nWZS">по этой ссылке</a>.
        Материалы занятия в этом же архиве.
    </p>

</section>