@using ComponentViewModel.Components;
@{
    ViewBag.Title = "Strongly Typed View";
}

<table class="table w-50 mx-5">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach (var product in ViewBag.Products) {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
        </tr>
    }
</table>

@* Использование компонента *@
<p>
    @await Component.InvokeAsync(nameof(ProductsSummary))
</p>

