@model UIHint.Models.RegistrationBindingModel

<p class="mx-5 my-5 lead">Вы успешно зарегистрировались. Ваш логин: @Model.Login</p>

<div class="mx-5 my-5">
    <a class="btn btn-success" aria-describedbyasp-controller="Home" asp-action="Index">На главную</a>
</div>