/* Общий стиль */

/* фон */
body {
    background-image: url("../images/sky.jpg");
    background-repeat: round;
}

.outer-top-image {
    position: relative;
}

.inner-top-image {
    position: absolute;
}

.inner-top-image img {
    transition: all 0.3s ease-out;
}

.inner-top-image img:hover {
    transform: scale(1.2);
}

/* панель навигации */
img.logo {
    width: 2.3rem;
}

/* контент */
main {
    min-height: 100vh;
}

/* логотип */
.logo {
    transition: all 0.3s ease-out;
}

/* наведение на логотип */
.logo:hover {
    transform: scale(1.4);
}

.h-30rem {
    height: 30rem;
}

.h-20rem {
    height: 20rem;
}

.h-11rem {
    height: 11rem;
}

.h-10rem {
    height: 10rem;
}

.h-7rem {
    height: 7rem;
}

.w-22rem {
    width: 22rem;
}

.w-20rem {
    width: 20rem;
}

.w-18rem {
    width: 18rem;
}

.w-16rem {
    width: 16rem;
}

.w-15rem {
    width: 15rem;
}

.w-10rem {
    width: 10rem;
}

.w-8rem {
    width: 8rem;
}

.w-5rem {
    width: 5rem;
}
