@page
@model H_WASP_NET.Pages.IndexModel
@{
    ViewBag.Title = "Homework";
}

<h2 class="h2">Теоретическая часть</h2>
<ul>
    <li>Методика разработки приложений ASP.NET Core Razor Pages с
        использованием Entity Framework Core 6</li>
</ul>


<h2 class="h2">Практическая часть</h2>
<p>
    Разработайте приложение ASP.NET Core, состоящее из нескольких страниц Razor Pages.
    Стилизацию разметки выполняйте при помощи Bootstrap. Реализуйте вывод задания,
    вывод всех записей таблиц базы данных. Все таблицы должны быть проинициированы
    не менее чем 10 записями. <br />Требуется также выполнение запросов по заданию.
</p>
<table  class="my-3 w-90 mx-auto table table-bordered table-striped"> 
    <tbody>
        <tr>
            <td>
                База данных <strong>«Туристическое агентство»</strong>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <strong>Описание предметной области</strong><br />
                    Фирма предоставляет клиентам услуги по организации зарубежных поездок.
                    При этом цели поездок могут быть различными (отдых, туризм, лечение и т.д.).
                    При оформлении услуги устанавливается фиксированная стоимость 1 дня
                    пребывания в той или иной стране.<br />
                    Стоимость поездки может быть вычислена как ,<strong>Стоимость 1 дня
                    пребывания * Количество дней пребывания + Стоимость транспортных услуг + Стоимость
                    оформления визы</strong>. Кроме того, клиент платит налог на добавленную стоимость (НДС) в
                    размере 3% от стоимости поездки.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    База данных должна включать таблицы КЛИЕНТЫ, МАРШРУТЫ, ПОЕЗДКИ, содержащие следующую информацию:
                </strong>
            </td>
        </tr>
        <tr>
            <td>
                Фамилия клиента
            </td>
        </tr>
        <tr>
            <td>
              Имя клиента
            </td>
        </tr>
        <tr>
            <td>
              Отчество клиента
            </td>
        </tr>
        <tr>
            <td>
               Серия – номер паспорта клиента
            </td>
        </tr>
        <tr>
            <td>
              Страна назначения
            </td>
        </tr>
        <tr>
            <td>
              Цель поездки
            </td>
        </tr>
        <tr>
            <td>
                Стоимость 1 дня пребывания в стране назначения (зависит от выбранной страны и цели поездки)
            </td>
        </tr>
         <tr>
            <td>
               Стоимость транспортных услуг (определяется выбором страны)
            </td>
        </tr>
        <tr>
            <td>
                Стоимость оформления визы (определяется выбором страны)
            </td>
        </tr>
        <tr>
            <td>
                Дата начала пребывания в стране назначения
            </td>
        </tr>
        <tr>
            <td>
                Количество дней пребывания в стране назначения
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <strong>ЗАПРОСЫ</strong>
            </td>
        </tr>
    </tbody>

</table>
<table class="w-90 mx-auto table table-bordered">
    <thead>
        <tr>
            <th>Номер запроса</th>
            <th>Тип запроса</th>
            <th>Какую задачу решает запрос</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td>1</td>
            <td>Запрос на выборку</td>
            <td>
                Выбирает из таблицы МАРШРУТЫ информацию о маршрутах с целью поездки «отдых»
            </td>
        </tr>
        <tr>
           <td>2</td>
            <td>Запрос на выборку</td>
            <td>
                Выбирает из таблицы МАРШРУТЫ информацию о маршрутах, для которых Цель поездки «лечение» и Стоимость транспортных не превышает 2000 руб.
            </td>
        </tr>
        <tr>
           <td>3</td>
            <td>Запрос на выборку</td>
            <td>
                Выбирает из таблиц КЛИЕНТЫ и ПОЕЗДКИ информацию о клиентах, совершивших поездки с количеством дней пребывания в стране не менее 10
            </td>
        </tr>
        <tr>
           <td>4</td>
            <td>Запрос с параметром</td>
            <td>
                Выбирает из таблицы МАРШРУТЫ информацию о маршрутах в заданную страну. Конкретное название страны вводится при выполнении запроса
            </td>
        </tr>
        <tr>
           <td>5</td>
            <td>Запрос с параметром</td>
            <td>
                Выбирает из таблицы МАРШРУТЫ информацию о странах, для которых стоимость оформления визы есть значение из некоторого диапазона.
                Нижняя и верхняя границы диапазона задаются при выполнении запроса
            </td>
        </tr>
        <tr>
           <td>6</td>
            <td>Запрос с вычисляемыми полями</td>
            <td>
                Вычисляет для каждой поездки ее полную стоимость с НДС. Включает поля <strong>Страна назначения, Цель поездки, Дата начала поездки,
                    Количество дней пребывания, Полная стоимость поездки.</strong> Сортировка по полю <strong>Страна назначения</strong>
            </td>
        </tr> 
        <tr style="height:20px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
           <td>7</td>
            <td>Итоговый запрос</td>
            <td>
                Для маршрутов с целью поездки «лечение» выполняет группировку по полю <strong>Страна назначения</strong>. Для каждой страны определяет
                минимальную стоимость 1 дня пребывания
            </td>
        </tr>
                <tr>
           <td>8</td>
            <td>Итоговый запрос</td>
            <td>
                Выполняет группировку по полю <strong>Страна назначения</strong>.
                Для каждой страны вычисляет среднее значение по полю <strong>Стоимость транспортных услуг</strong>
            </td>
        </tr>
    </tbody>

</table>
<p>
    Также требуется реализовать:
</p>
<ul>
    <li>добавление, редактирование данных о клиенте</li>
    <li>добавление, редактирование, удаление данных о поездке </li>
</ul>

<h2 class="h2">Дополнительно</h2>
    <p>Запись занятия можно скачать по <a href="https://cloud.mail.ru/public/8K9W/MgMwGiEgU"><b>этой ссылке</b></a>.
Материалы занятия в этом же архиве. </p>
