@{
    ViewData["Title"] = "Contacts";
}

<h1>Контакты</h1>

@* 
    обращение к частичному представлению 
    _ИмяФайла - ищем в Views/Shared
    ИмяФайла  - ищем в текущем каталоге
*@
<partial name="_ContactsPartial" />