@{
    ViewBag.Title = "Главная";
}


<h2 class="h2">Теоретическая часть</h2>
<ul>
    <li>Понятие о тег-хелперах, определяемых программистом</li>
    <li>Создание тег-хелпера</li>
    <li>Использование тег-хэлпера в разметке</li>
    <li>Роль открытых свойств класса тег-хэлпера для передачи атрибутов HTML, атрибутов данных </li>
</ul>

<h2 class="h2">Практическая часть</h2>

<p>
    Разработайте приложение ASP.NET Core MVC для работы с базой данных при
    помощи Entity Framework Core 6. Стилизацию разметки выполняйте при помощи
    Bootstrap. Реализуйте вывод задания, вывод всех записей таблиц базы данных. 
    <br />Все таблицы должны быть проинициированы не менее чем 10 записями.
    <br />Требуется также выполнение запросов по заданию.
</p>


<table  class="my-3 w-90 mx-auto table table-bordered table-striped"> 
    <tbody>
        <tr>
            <td>
                База данных <strong>«Оптовый магазин. Учет продаж»</strong>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <strong>Описание предметной области</strong><br />
                   Оптовый магазин закупает товар по <strong>Цене закупки единицы
                   товара</strong> и продает товар по <strong>Цене продажи единицы 
                   товара</strong>. Разница между ценой продажи и ценой закупки 
                   составляет прибыль магазина от реализации единицы товара.
                   Каждый продавец получает комиссионное вознаграждение за 
                   проданный товар. Размер этого вознаграждения равен:<strong> Цена
                   продажи единицы товара * Кол-во проданных единиц товара * Процент 
                   комиссионных продавца.</strong> Прибыль от продажи партии товара
                   вычисляется как <strong>(Цена продажи единицы товара - Цена закупки
                   единицы товара) * Кол-во проданных единиц товара.</strong>

                </p>
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    База данных должна включать как минимум таблицы ТОВАРЫ, ПРОДАВЦЫ, ПРОДАЖИ, содержащие следующую информацию:
                </strong>
            </td>
        </tr>
        <tr>
            <td>
                Наименование товара
            </td>
        </tr>
        <tr>
            <td>
              Единица измерения товара
            </td>
        </tr>
        <tr>
            <td>
              Цена закупки единицы товара
            </td>
        </tr>
        <tr>
            <td>
               Дата продажи товара
            </td>
        </tr>
        <tr>
            <td>
              Цена продажи единицы товара
            </td>
        </tr>
        <tr>
            <td>
             Количество проданных единиц товара
            </td>
        </tr>
        <tr>
            <td>
                Фамилия продавца, оформившего продажу
            </td>
        </tr>
         <tr>
            <td>
               Имя продавца, оформившего продажу
            </td>
        </tr>
        <tr>
            <td>
                Отчество продавца, оформившего продажу
            </td>
        </tr>
        <tr>
            <td>
                Процент комиссионных продавца, оформившего продажу
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <strong>ЗАПРОСЫ</strong>
            </td>
        </tr>
    </tbody>

</table>
<table class="w-90 mx-auto table table-bordered">
    <thead>
        <tr>
            <th>Номер запроса</th>
            <th>Тип запроса</th>
            <th>Какую задачу решает запрос</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td>1</td>
            <td>Фильтр</td>
            <td>
                Выбирает из информацию о товарах, единицей измерения которых
                является «шт» (штуки) и цена закупки составляет меньше 200 руб. Значения задавать параметрами
            </td>
        </tr>
        <tr>
           <td>2</td>
            <td>Фильтр</td>
            <td>
                Выбирает информацию о товарах, цена закупки которых больше 500 руб.
                за единицу товара. Значения задавать параметрами
            </td>
        </tr>
        <tr>
           <td>3</td>
            <td>Фильтр</td>
            <td>
                Выбирает информацию о товарах с заданным наименованием (например, «чехол защитный»),
                для которых цена закупки меньше 1800 руб. Значения задавать параметрами
            </td>
        </tr>
        <tr>
           <td>4</td>
            <td>Запрос с параметрами</td>
            <td>
                Выбирает информацию о продавцах с заданным значением процента комиссионных.
                Значения задавать параметрами
            </td>
        </tr>
        <tr>
           <td>5</td>
            <td>Запрос с параметрами</td>
            <td>
                Выбирает информацию обо всех зафиксированных фактах продажи товаров
                (Наименование товара, Цена закупки, Цена продажи, дата продажи),
                для которых Цена продажи оказалась в некоторых заданных границах.
                Значения задавать параметрами
            </td>
        </tr>
        <tr>
           <td>6</td>
            <td>Запрос с вычисляемыми полями</td>
            <td>
                Вычисляет прибыль от продажи за каждый проданный товар.
                Включает поля <strong>Дата продажи, Наименование товара, 
                    Цена закупки, Цена продажи, Количество проданных единиц,
                    Прибыль.</strong> Сортировка по полю <strong>Наименование товара</strong>
            </td>
        </tr> 
        <tr style="height:20px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
           <td>9</td>
            <td>Итоговый запрос</td>
            <td>
                Выполняет группировку по полю <strong>Наименование товара</strong>. 
                Для каждого наименования вычисляет среднюю цену закупки товара,
                количество закупок
            </td>
        </tr>
                <tr>
           <td>10</td>
            <td>Итоговый запрос</td>
            <td>
               Выполняет группировку по полю <strong>Код продавца</strong> из таблицы <strong>ПРОДАЖИ</strong>.
               Для каждого продавца вычисляет среднее значение по полю <strong>Цена продажи единицы товара</strong>,
               количество продаж
            </td>
        </tr>
    </tbody>

</table>
<p>
    Вывод записей всех таблиц реализовать с использованием постраничной навигации.
    Должна быть реализована сортировка по столбцам таблицы <strong>ПРОДАЖИ</strong> (по убыванию и по возрастанию): 
</p>
<ul>
    <li>Идентификатор</li>
    <li>Дата продажи</li>
    <li>Цена продажи</li>
</ul>
<p>
    Разработайте и используйте тег-хелперы для вывода записей таблиц.<br />
    Требуется реализовать добавление, редактирование для всех таблиц. Для таблицы <strong>ПРОДАЖИ</strong>
    реализуйте также и удаление записей.
</p>

<h2 class="h2">Дополнительно</h2>
    <p>Запись занятия можно скачать по <a href="https://cloud.mail.ru/public/61pj/fC7gGgq4y"><b>этой ссылке</b></a>.
Материалы занятия в этом же архиве. </p>
