
@{
    ViewBag.Header = "Главная страница";
}

<div class="brief">
    <h2>Теоретическая часть</h2>

    <ul>
        <li>Подключение Enity Framework Core 6 к ASP.NET Core MVC приложению</li>
        <li>Реализация CRUD-операций с таблицами базы данных</li>
        <li>Генерация контроллеров и представлений для выполнения CRUD-операций средствами Visual Studio – scaffolding </li>
        <li>Типичный прием работы с таблицами баз данных в веб-приложении – сортировка таблиц по столбцам</li>
        </ul>
    
    <h2>Практическая часть</h2>

    <p>Разработайте приложение ASP.NET Core MVC для работы с базой данных при помощи Entity Framework Core 6. Стилизацию разметки выполняйте при помощи Bootstrap. Реализуйте вывод задания, вывод всех записей таблиц базы данных. Все таблицы должны быть проинициированы не менее чем 10 записями. </p>
    
    <p>Требуется также выполнение запросов по заданию.</p>
    
    <div class="col-8">
        <table class="table-bordered ps-2 pe-2 w-100">
            <tbody>
            <tr>
                <td class="ps-1 pe-2">
                    <i>База данных <b>«Туристическое агентство»</b></i>
                </td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">
                    <div class="fw-bold">Описание предметной области</div>
                    <div>
                        Фирма предоставляет клиентам услуги по организации зарубежных поездок. При этом цели поездок могут
                        быть различными (отдых, туризм, лечение и т.д.). При оформлении услуги устанавливается фиксированная
                        стоимость 1 дня пребывания в той или иной стране.
                    </div>
                    <div>
                        Стоимость поездки может быть вычислена как
                        <b>Стоимость 1 дня пребывания * Количество дней пребывания +Стоимость транспортных услуг + 
                            Стоимость оформления визы</b>. Кроме того, клиент платит налог надобавленную стоимость
                        (НДС) в размере 3% от стоимости поездки.
                    </div>
                </td>
            </tr>
            <tr>
                <td class="ps-1 pe-2 fw-bold fst-italic">
                    База данных должна включать как минимум таблицы КЛИЕНТЫ, МАРШРУТЫ, ПОЕЗДКИ, содержащие следующую
                    информацию:
                </td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Фамилия клиента</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Имя клиента</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Отчество клиента</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Серия – номер паспорта клиента</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Страна назначения</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Цель поездки</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Стоимость 1 дня пребывания в стране назначения</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Стоимость транспортных услуг (определяется выбором страны)</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Стоимость оформления визы (определяется выбором страны)</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Дата начала пребывания в стране назначения</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Количество дней пребывания в стране назначения</td>
            </tr>
            <tr>
                <td class="ps-1 pe-2">Страна назначения</td>
            </tr>
            </tbody>
        </table>
    
        <table class="table-bordered mt-4 w-100">
            <thead class="fw-bold text-center">
            <tr>
                <td>Номер запроса</td>
                <td>Тип запроса</td>
                <td>Какую задачу решает запрос</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="ps-2 pe-2 text-center">1</td>
                <td class="ps-2 pe-2">Запрос на выборку</td>
                <td class="ps-2 pe-2">Выбирает информацию о маршрутах с заданной целью поездки </td>
            </tr>
            <tr>
                <td class="ps-2 pe-2 text-center">2</td>
                <td class="ps-2 pe-2">Запрос на выборку</td>
                <td class="ps-2 pe-2">
                    Выбирает информацию о маршрутах с заданной целью поездки и стоимостью транспортных услуг менее заданного значения
                </td>
            </tr>
            <tr>
                <td class="ps-2 pe-2 text-center">3</td>
                <td class="ps-2 pe-2">Запрос на выборку</td>
                <td class="ps-2 pe-2">
                    Выбирает информацию о клиентах, совершивших поездки с заданным количеством дней пребывания в стране
                </td>
            </tr>
            <tr>
                <td class="ps-2 pe-2 text-center">4</td>
                <td class="ps-2 pe-2">Запрос на выборку</td>
                <td class="ps-2 pe-2">
                    Выбирает информацию о маршрутах в заданную страну
                </td>
            </tr>
            <tr>
                <td class="ps-2 pe-2 text-center">5</td>
                <td class="ps-2 pe-2">Запрос на выборку</td>
                <td class="ps-2 pe-2">
                    Выбирает информацию о странах, для которых стоимость оформления визы есть значение из некоторого диапазона
                </td>
            </tr>
            <tr>
                <td class="ps-2 pe-2 text-center">6</td>
                <td class="ps-2 pe-2">Запрос на выборку</td>
                <td class="ps-2 pe-2">
                    Вычисляет для каждой поездки ее полную стоимость с НДС. Включает поля
                    <b>Страна назначения, Цель
                        поездки, Дата начала поездки, Количество дней пребывания</b>, Полная стоимость поездки. Сортировка по 
                    полю <b>Страна назначения</b>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td><td></td><td></td>
            </tr>
            <tr>
                <td class="ps-2 pe-2 text-center">7</td>
                <td class="ps-2 pe-2">Итоговый запрос – агрегатные функции</td>
                <td class="ps-2 pe-2">
                    Выполняет группировку по полю <b>Цель поездки</b>.  Определяет минимальную, среднюю и максимальную стоимость
                    1 дня пребывания
                </td>
            </tr>
            <tr>
                <td class="ps-2 pe-2 text-center">8</td>
                <td class="ps-2 pe-2">Итоговый запрос – агрегатные функции</td>
                <td class="ps-2 pe-2">
                    Выполняет группировку по полю <b>Страна назначения</b>. Для каждой страны вычисляет среднее значение
                    по полю <b>Стоимость транспортных услуг</b>
                </td>
            </tr>
            </tbody>
    
        </table>
    </div>
    
    <p>Также требуется реализовать:</p>
    
    <ul>
        <li>добавление, редактирование данных о клиенте</li>
        <li>добавление, редактирование данных о маршруте</li>
        <li>добавление, редактирование, удаление данных о поездке</li>
        <li>сортировку данных о поездке: по дате начала, по длительности, по стране пребывания – и по убыванию и по возрастанию (по примеру, рассмотренному в классной работе, но выводить коллекцию в исходном и отсортированном виде надо на одну страницу, в одну и ту же таблицу).</li>
        </ul>
    
    <h2>Дополнительно</h2>
    <p>
        Запись занятия можно скачать по
        <a href="https://cloud.mail.ru/public/aFCS/JjUzASteG">
            <b>этой ссылке</b>
        </a>.
        Материалы занятия – в этом же архиве.
    </p>
</div>