<section class="mx-5 my-4 bg-light shadow-sm border rounded-3 h-75 p-3">

    <!-- #region Теоретическая часть -->
    <details open>
        <summary class="h5 text-primary ">
            Теоретическая часть
        </summary>

        <ul>
            <li>Понятие о маршрутизации в ASP.NET Core MVC</li>
            <li>Шаблон маршрута</li>
            <li>Обязательные и необязательные сегменты маршрута</li>
            <li>Еще раз о контроллерах в ASP.NET MVC Core</li>
            <li>Некоторые свойства контроллеров ASP.NET MVC Core</li>
        </ul>

    </details>
    <!-- #endregion -->


    <!-- #region Практическая часть -->
    <details open>
        <summary class="h5 text-primary">
            Практическая часть
        </summary>

        <p>
            Создать приложение ASP.NET Core MVC по следующему заданию. Стилизацию приложения выполняйте при помощи
            фреймворка Bootstrap.
        </p>

        <p>
            Примените страницу компоновки. Не забывайте создать модель для решения задачи. По GET-запросу /Home/Index
            выводите этот текст.
        </p>

        <p>
            Сведения о книгах в библиотеке содержат: идентификатор, фамилию и инициалы автора, название, год издания,
            количество экземпляров данной книги в библиотеке, цену одного экземпляра, имя файла с изображением обложки.
        </p>

        <p>
            Сведения о книгах хранятся в файле формата JSON в папке App_Data проекта. В коллекции при инициализации
            должно быть сведения не менее чем о 10 книгах.
        </p>

        <p>
            Требуется реализовать функционал:
        </p>

        <ul>
            <li>Добавление книги в коллекцию (и в файл, данные формировать в коде, ввод при помощи формы не нужен)</li>
            <li>Удаление данных о книге из коллекции (и из файла, форма для ввода идентификатора не нужна)</li>
            <li>Выдача сведений о всех книгах, упорядоченных по фамилиям авторов</li>
            <li>Выдача сведений о всех книгах, упорядоченных по годам издания</li>
            <li>Выдача сведений о книгах с количеством, равным максимальному</li>
            <li>Выдача сведений о самых старых книгах</li>
            <li>Выдача сведений о самых новых книгах</li>
        </ul>
        <!-- #endregion -->

    </details>
    <!-- #endregion -->

    <!-- #region Дополнительно -->
    <details open>
        <summary class="h5 text-primary">
            Дополнительно
        </summary>

        <p>
            Запись занятия можно скачать по
            <a href="https://cloud.mail.ru/public/QX9c/DBT8V9x7c" target="_blank">этой ссылке</a>,
            материалы занятия в этом же архиве.
        </p>

    </details>
    <!-- #endregion -->
</section>
