@page
@model OneToManyEfCore.Pages.CategoryEditModel
@{
}


<h3>Редактирование вида издания, ид: @Model.Category.Id</h3>

<form class="w-25" method="post">
    @* скрытое поле для Id *@
    <input asp-for="Category.Id" type="hidden"/>
    
    @* редактируемые поля сущности *@
    <div class="mb-3">
        <label class="form-label" asp-for="Category.CategoryName">Название вида издания:</label>
        <input class="form-control" asp-for="Category.CategoryName" type="text"/>
    </div>

    <input class="btn btn-success" type="submit" value="Добавить"/>
</form>