@model IQueryable<HomeWork.Models.Queries.Query09Result>

@{
    ViewBag.Title = "Для каждого продавца вычисляет среднее значение продажи единицы товара, количество продаж.";

}

<h4 class="text-center">@ViewBag.Title</h4>

@* Вывод выборки данных *@
<table class="table table-striped">
    <thead>
    <tr>
        <th>ФИО продавца</th>
        <th>Средняя цена продажи</th>
        <th>Количество продаж</th>
    </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.FullName</td>
                <td>@($"{item.AvgSale:n2}") &#8381</td>
                <td>@item.AmountSale</td>               
            </tr>
        }
    </tbody>
</table>
