@model Homework.Models.Task1.ExpressionResult

@{
    ViewBag.Header = "Уравнение №2";
}

<img class="my-4 w-auto" src="/images/task1_equation2.png" alt="Уравнение 2"/>

<div class="row">
    <div class="col-auto">
        <ul class="list-group">
            <li class="list-group-item fw-bold">Результат:</li>
            <li class="list-group-item">a = @($"{Model?.A:f6}")</li>
            <li class="list-group-item">b = @($"{Model?.B:f7}")</li>
        </ul>
    </div>
</div>