@page
@model H_W1ASP.NET.Pages.Page01Model
@{
    ViewData["Title"] = "Homework";
}



<header>
<h2>Страница №1</h2>
</header>
<main>
     <nav>
     <!-- ссылки на страницы-->
        <ul class="aside-menu">
         <li><a asp-page="/Index">На главную</a></li>
         <li><a href="/Book">Страница №1</a></li>
         <li><a href="/SailingFleet">Страница №2</a></li>
         <li><a href="/Cities">Страница №3</a></li>
      </ul>
     </nav>

     <section>
            <details class="indented">
                <summary> Сведения об учебнике по программированию</summary>
                   <b>Страница 1.</b> Имя страницы <b>Book.cshtml.</b> В ответ на GET-запрос клиента
                   <b>/Book</b> сформировать представление со сведениями об учебнике по программированию
                   на Python (используйте модель): автор Бриггс Дж.; название «Python для детей. Самоучитель
                   по программированию», год издания 2017. Обложка.<br />
            </details>

            <table>
                <tr>
                    <th></th>
                    <th>Автор</th>
                    <th>Название</th>
                    <th>Сведения</th>
                    <th>Год изд.</th>
                </tr>
                <tbody>
                    <td><img class="img" src="~/img/book001.jpg" width="100" height="100" alt="фото 001" /></td>
                    <td>@Model.Author</td>
                    <td>@Model.NameBook</td>
                    <td>
                        <p>Эта книга - самоучитель по одному из самых востребованных на сегодняшний день языков программирования - Python.
                        Начиная с самых простых действий, шаг за шагом вы будете писать свои программы и постигать тонкости этого языка.
                        Свои знания вы сможете проверить сразу же - на забавных примерах и уморительно смешных заданиях.
                        </p>
                        </td>
                    <td>@Model.Year</td>
                </tbody>
            </table>

     </section>

</main>
