@* Демонстрация моделей для тег-хелпера *@
@model List<string>
@{
    ViewBag.Title = "Модели для тег-хелпера";
    List<string> vegetables = new List<string>{"картошка", "огурцы", "помидоры", "лук", "кабачки"};
}

<h3>@ViewBag.Title</h3>
<h3>Пример использования моделей для тег-хелперов</h3>

<h4>Вывод списка данных, определенных в представлении</h4>
<list class="ms-5" items="vegetables"></list>

<h4>Вывод списка данных, определенных в контроллере</h4>
<list class="ms-5" items="Model"></list>