@* Демонстрация асинхронного тег-хелпера *@
@{
    ViewBag.Ttile = "Главная";
}

<h3>@ViewBag.Title</h3>
<h3>Пример использования асинхронных тег-хелперов</h3>

@* date-time асинхронный тег-хелпер, в разметке это не указаывается *@
<date-time>
    <first></first>
    <second></second>
</date-time>

<date-time>
    <first></first>
    <second></second>
</date-time>

<date-time>
    <first></first>
    <second></second>
</date-time>
